@charset "utf-8";
/* Social Media Icon Links Extension (S.M.I.L.E.) */
div.smile a {outline:none;}
div.smile img.i60 {width:60px;height:60px;}
div.smile img.i48 {width:48px;height:48px;}
div.smile img.i32 {width:32px;height:32px;}
div.smile img.i24 {width:24px;height:24px;}
div.smile img.i16 {width:16px;height:16px;}
div.smile img {margin:3px;padding:0px;border:none;}
.clr {clear:both;}
#smilecredits {display:none;}

	
