/**
 * @version		$Id: editor.css 36 2011-01-20 12:59:29Z happy_noodle_boy $
 * @package		JCE
 * @copyright	Copyright (C) 2009 Ryan Demmer. All rights reserved.
 * @license		GNU/GPL
 * This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 */
div.mceEditor {
	position: relative;
}

div.mceEditor table.mceLayout td {
	padding: 0;
	margin: 0;
	text-align: left;
}

textarea.mceEditor, textarea.mceNoEditor {
    background: #FFFFFF none;
    font-family: monospace;
    font-size: 1.1em;
    color: #333;
    line-height: 16px;
	position: relative;
	white-space: pre-wrap;
	word-wrap: break-word;
}
textarea.mceEditor:focus, textarea.mceNoEditor:focus {
	background: #FFFFFF none;
    color: #333;
}

span.jce_editor_toggle {
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	line-height: 20px;
}
div.mceEditor table.mceLayout td.mceIframeContainer iframe.hidden {
	visibility: hidden;
	z-index: 0;
}
div.mceEditor table.mceLayout td.mceIframeContainer iframe.offleft {
	position: absolute;
	position: absolute;
    top: -10000px;
    left: -10000px;
}
