/*Standard*/
body {
	margin : 8px;
}
select {
	vertical-align: middle;
}
label {
	vertical-align: middle;
}
label.disabled {
	color: #ccc;
}
input {
	vertical-align: middle;
}
input.checkbox {
	
}
.show {
  display: block;
}
.hide {
  display: none;
}
.visible {
	visibility: visible;
}
.hidden {
	visibility: hidden;
}
img {
  border: 0;
}
.loader {
	background: url(../img/load.gif) no-repeat;
	width: 20px;
	height: 20px;
	display: block;
}
.mceAddSelectValue {
	background-color: #DDDDDD;
}
dl.alert {
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	width: 100%;
}
dl.alert dt {
	height: 20px;
	margin: 0px;
	padding: 3px 0px 0px 25px;
	background: url(../img/icons.gif) no-repeat;
	font-weight: bold;
}
dl.alert dt.alert{
	background-position: 0 -20px;
}
dl.alert dt.info{
	background-position: 0 -300px;
}
dl.alert dt.error {
	background-position: 0 -340px;
}
dl.alert dd {
	margin: 0px;
	padding: 0px;
	width: 80%;
}
/*End Standard*/
/* Dialog Form Elements */
div.mceMiddle div.formElm {
	margin: 5px 0px;
}
.formElm label {
	width: 20%;
	display: block;
	float: left;
	clear: left;
	line-height: 18px;
}
.formElm input, .formElm select {
	float: left;
}
.formElm input {
	width: 60%;
}
/* Tooltips */
label.hastip, span.hastip {
	cursor: help;
	border-bottom: 1px dashed #919B9C;
}
div.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	border: 1px solid #919B9C;
	padding: 5px;
	z-index: 13000;
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
div.tooltip div {
	padding: 8px 2px 2px;
	margin: -14px 0 0 0;
	height: inherit;	
}
div.tooltip h4 {
	font-size: 1em;
	font-weight: bold;
}
div.tooltip p {
	margin: 0;
	font-size: 0.9em;
}

/* Window Stuff */
div#inline-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    z-index: 2000;
}

iframe.blocker {
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
}
div#inline-overlay {
	position:absolute; left:0; top:0; width:100%; height:100%; background:#FFF; z-index: 1000; 
}

div#inline-frame div.mcePlaceHolder {position: absolute;z-index:4000;border:1px solid #000; background:#888; top:0; left:0; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); width:auto; height:auto; overflow:hidden; display:block}
