/* Tree */
div.tree ul {
	padding: 0pt;
	margin: 0pt;
	list-style: none;
}
div.tree ul li {
	padding: 0px 0px 0px 16px;
	margin: 0px;
	vertical-align: middle;
}
div.tree ul li.spacer {
	margin:0pt;
	padding:0pt;
	display:none;
	visibility:hidden;
}
div.tree ul li div.tree-row {
	height: 20px;
}
div.tree ul li div.tree-row.hover {
	background-color: #ddd;
	color: black;
}
div.tree ul li div.tree-row div.tree-image {
	height: 20px;
	width: 20px;
	margin-left: -20px;
	cursor: pointer;
	background: url(../img/icons.gif) no-repeat 0 -540px;
	float: left;
}
div.tree ul li div.tree-row div.tree-noimage {
	float: left;
	width: 20px;
}
div.tree ul li div.tree-row div.tree-image.open {
	background: url(../img/icons.gif) no-repeat 0 -560px;
}
div.tree ul li div.tree-row span {
	height: 20px;
	background: url(../img/icons.gif);
	background-repeat: no-repeat;
	display: block;
}
div.tree ul li div.tree-row span.folder {
	background-position: 0 -220px;
}
div.tree ul li div.tree-row span.file {
	background-position: 0 -400px;
}
div.tree ul li div.tree-row span.folder.open {
	background-position: 0 -240px;
}
div.tree ul li div.tree-row span.load {
	background-image: url(../img/load.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
div.tree ul li div.tree-row span a {
	margin: 0px 0px 0px 22px;
	text-decoration: none;
	line-height: 20px;
	display: block;
}
div.tree ul li div.tree-row span a.nolink {}
div.tree ul li div.tree-row span a:visited, 
div.tree ul li div.tree-row span a:active, 
div.tree ul li div.tree-row span a:link{
	text-decoration: none;
	color: black;
}
div.tree ul li div.tree-row span.root, 
div.tree ul li div.tree-row span.root.open {
	background-position: 0 -320px;
}

/**
 * IE Specific
 */
body.ie div.tree ul {
	margin: 0px 0px 0px -16px;
}
body.ie div.tree ul li {
	clear: left;
	margin: 0px 0px 0px 16px;
}
body.ie div.tree ul li div.tree-row {
	margin: 0px 0px 0px -16px;
}
body.ie div.tree ul li div.tree-row span {
	float: left;
	clear: right;
	white-space: pre;
}
body.ie div.tree ul li div.tree-row div.tree-image {
	margin-left: 0px;
}

/**
 * IE6
 */
body.ie6 div.tree ul li div.tree-row span.open {
	background: url(../img/icons.gif) no-repeat 0 -240px;
}