/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}





@font-face {
    font-family: 'museo500';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo500-regular-webfont.svg#museo_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo700';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo700-regular-webfont.woff') format('woff'),
         url('../fonts/museo700-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo700-regular-webfont.svg#museo_700regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo900';
    src: url('../fonts/museo900-regular-webfont.eot');
    src: url('../fonts/museo900-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo900-regular-webfont.woff') format('woff'),
         url('../fonts/museo900-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo900-regular-webfont.svg#museo_900regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-regular_0-webfont.eot');
    src: url('../fonts/ubuntu-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-regular_0-webfont.woff') format('woff'),
         url('../fonts/ubuntu-regular_0-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-regular_0-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caflisch';
    src: url('../fonts/caflischscriptwebpro_1-webfont.eot');
    src: url('../fonts/caflischscriptwebpro_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caflischscriptwebpro_1-webfont.woff') format('woff'),
         url('../fonts/caflischscriptwebpro_1-webfont.ttf') format('truetype'),
         url('../fonts/caflischscriptwebpro_1-webfont.svg#caflisch_script_web_proRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'calibri';
src: url('../fonts/calibri.eot');
src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'),
url('../fonts/calibri.woff') format('woff'),
url('../fonts/calibri.ttf') format('truetype'),
url('../fonts/calibri.svg#calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriadwebpro';
    src: url('../fonts/myriadwebpro_0.eot');
    src: url('../fonts/myriadwebpro_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadwebpro_0.woff') format('woff'),
         url('../fonts/myriadwebpro_0.ttf') format('truetype'),
         url('../fonts/myriadwebpro_0.svg#myriadwebpro_0') format('svg');
         font-weight: normal;
         font-style: normal;
}

@font-face {
    font-family: 'metamediumitalic';
    src: url('../fonts/metaplus-mediumitalic.eot');
    src: url('../fonts/metaplus-mediumitalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/metaplus-mediumitalic.woff') format('woff'),
        url('../fonts/metaplus-mediumitalic.ttf') format('truetype'),
        url('../fonts/metaplus-mediumitalic.svg#metaplus-mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metabookitalic';
    src: url('../fonts/metaplus-bookitalic.eot');
    src: url('../fonts/metaplus-bookitalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/metaplus-bookitalic.woff') format('woff'),
        url('../fonts/metaplus-bookitalic.ttf') format('truetype'),
        url('..fonts/metaplus-bookitalic.svg#metaplus-bookitalic') format('svg');
    font-weight: normal;
    font-style: normal;
        }

@font-face {
    font-family: 'MetaPlusLining-Bold';
    src: url('../fonts/metapluslining-bold.eot');
    src: url('../fonts/metapluslining-bold.eot?#iefix') format('embedded-opentype'),
             url('../fonts/metapluslining-bold.woff') format('woff'),
             url('../fonts/metapluslining-bold.ttf') format('truetype'),
             url('../fonts/metapluslining-bold.svg#metaplus-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*****Cores*****/
@azulclaro: #357DB6;
@azulescuro: #2d425f;
@azulh1: #293240;

/*****Tipos*****/
@arialsans: Arial, Helvetica, sans-serif;
@myriadwebpro: 'myriadwebpro', Arial, Helvetica, sans-serif;
@metaitalic: 'metamediumitalic', Arial, Helvetica, sans-serif;
@metabookitalic: 'metabookitalic', Arial, Helvetica, sans-serif;
@metabold: 'MetaPlusLining-Bold', Arial, Helvetica, sans-serif;
body {
    background: @azulescuro;
    font-size: 1em;
    font-family: 'calibri', sans-serif;
    p{
        font-size:13px;
        margin-bottom:1.2em;
        color:#4d4d4d;
    }
    h1, .clearfix{
        line-height: 1em;
    }

}

.modal{
            width:640px;
            margin-left:-320px;
            hr{
                border-top: 1px solid #CCC;
            }
        }
.texto-right h1.modal-empresa, #homeModal h1.modal-empresa{
    font-size: 13px;
    font-family: @arialsans;
    text-transform: uppercase;
    margin-bottom: 0;
}

.texto-right h2.modal-posicoes, #homeModal h2.modal-posicoes{
    font-size: 15px;
    font-family: @arialsans;
    text-transform: uppercase;
    line-height: 18px;
    margin-top: 4px;
}





.left{
    float: left;
}
.right{
    float:right;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****Main*****/
#main{
    width:1099px;
    margin: 0 auto;
    padding-bottom: 30px;
}

/*****Header*****/
header#principal{
    position: relative;
    z-index: 10;
    height: 443px;
        img{
            position: relative;
            z-index: 11;
            &.header-image{
                width: 1099px;
                height: 443px;
            }
        }
    #nav-header{
    position: absolute;
    bottom: 201px;
    right: 62px;
    z-index: 9999;
        a {
        display: block;
        background-color: #29689B;
        border: 0px;
        padding: 6px 10px;
        margin-top: 1px;
        text-decoration: none;
        color: #fff;
        font-size: 11px;
        font-family: 'myriadwebpro', Arial, Helvetica, sans-serif;
        &.activeSlide {
            background-color: #2d425f;
        }
        }
    }
    #logo{
        position: absolute;
        top: 0;
        width: 370px;
        height: 170px;
        background: #fff;
        margin-left: 58px;
        margin-top: 43px;
        text-align: center;
        line-height: 170px;
        z-index: 11;
    }
    nav{
        position: absolute;
        margin-left: 58px;
        margin-top: 240px;
        top: 0;
        z-index: 13;
        ul{
            margin: 0;
            padding: 0;
            li{
                a{
                    display: block;
                    text-transform: uppercase;
                    color: #fff;
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: @myriadwebpro;
                    width: 346px;
                    height: 28px;
                    padding-left: 24px;
                    line-height: 29px;
                    background-color: @azulescuro;
                    border-bottom: solid 1px @azulclaro;
                    list-style-type: none;
                    span{
                        visibility: hidden;
                        opacity:0;
                        float: right;
                        font-size: 20px;
                        margin-top:-2px;
                        margin-right: 36px;

                        
                        -webkit-transition-property: visibility, opacity; 
                        -webkit-transition-duration: 0.1s, 0.1s; 
                        -webkit-transition-timing-function: linear, ease-in;

                        -moz-transition-property: visibility, opacity;
                        -moz-transition-duration: 0.1s, 0.1s; 
                        -moz-transition-timing-function: linear, ease-in;

                        -o-transition-property: visibility, opacity;
                        -o-transition-duration: 0.1s, 0.1s; 
                        -o-transition-timing-function: linear, ease-in;

                    }
                }
                a:hover, a.active{
                    span{
                        visibility:visible;
                        opacity:1;
                        transition-delay:0s;
                    }
                }
            }
        }
    }
    #frase{
        position: absolute;
        width: 590px;
        height: 94px;
        background: url(../img/frase.png);
        margin-top: -174px;
        margin-left: 447px;
        z-index:13;
        text-align: center;
    }
    #frase-titulo{
        font-family: @metabookitalic;
        font-weight: normal;
        color: #fff;
        font-size: 28px;
        margin-top: 18px;
    }
    .frase-conteudo{
        color: #fff;
        font-family: @myriadwebpro;
        font-size: 12px;
        font-weight: bold;
        margin-top: -10px;
    }
    #content-header{
        display:block;
        position: relative;
        width:980px;
        height: 59px;
        margin: 0 auto;
        background-color: #fff;
        margin-top: -59px;
        z-index: 12;
        h1{
            float: right;
            height: 40px;
            line-height: 40px;
            width: 574px;
            padding-left: 16px;
            background: #29689b;
            margin-top:0;
            margin-top:-20px;
            font-family: @metabookitalic;
            font-weight: normal;
            color: #fff;
            text-transform: uppercase;
            font-size: 28px;
        }
    }
    #social-header{
        width: 280px;
        background: #EDEFF2;
        height: 59px;
        float: right;
        #facebook, #linkedin{
            margin-top:18px;
        }
        #facebook{
            display: block;
            width: 25px;
            height: 25px;
            background: url(../img/facebook.png);
            float: left;
            margin-right: 3px;
            margin-left: 207px;
        }
        #linkedin{
            display:block;
            width: 25px;
            height: 25px;
            background: url(../img/linkedin.png);
            float: left;
        }
    }
}

#social-vagas{
        width: 280px;
        height: 28px;
        float: right;
        margin-right: 21px;
        #facebook{
            display: block;
            width: 25px;
            height: 25px;
            background: url(../img/facebook.png);
            float: left;
            margin-right: 3px;
            margin-left: 207px;
        }
        #linkedin{
            display:block;
            width: 25px;
            height: 25px;
            background: url(../img/linkedin.png);
            float: left;
        }
}

#social-footer{
        width: 60px;
        height: 28px;
        position: absolute;
        top: 45px;
        left: 0;
        #facebook{
            display: block;
            width: 25px;
            height: 25px;
            background: url(../img/facebook.png);
            float: left;
            margin-right: 3px;
        }
        #linkedin{
            display:block;
            width: 25px;
            height: 25px;
            background: url(../img/linkedin.png);
            float: left;
        }
}

.content-left{
    float:left;
    height: 641px;
    width:700px;
}
.content-sidebar{
    float: right;
    width:260px;
    padding-left: 20px;

    height: 641px;
    background: #EDEFF2;
}
#content{
    width: 980px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    padding-bottom:35px;
    &.vagas-lista {
    padding-bottom: 15px;
    }
}


/****Home****/
.interna{
    width:980px;
    margin: 0 auto;
}

#img-executivos{
        float: left;
        margin-top:23px;
    }

#agilidade{
    width: 280px;
    float: left;
    margin-left: 18px;
    margin-top: 10px;
    h1{
        font-family: @metabookitalic;
        font-size: 22px;
        font-weight: normal;
        color: #52658C;
    }
    p{
        font-family: Arial, Helvetica, Tahoma, sans-serif;
        font-size: 11px;
        color: #2C425E;
        line-height: 1.4em;
    }
}





#separador-home{
    width: 665px;
    height: 5px;
    background: @azulclaro;
    position: relative;
    margin-top: -5px;
    margin-left: 0;
    margin-bottom: 4px;
}

.servicos-home{
    float: left;
    width: 280px;
    margin-left: 41px;
    margin-top: 30px;
    h1{
        font-family: @metabookitalic;
        font-size: 16px;
        font-weight: normal;
        color: #2C425E;
        text-transform: uppercase;
    }
    ul{
        margin:0;
        padding: 0;
        list-style-type: none;
        li{
            line-height: 1.3em;
            a, a:visited{
                font-family: @myriadwebpro;
                font-size: 13px;
                color: #2C425E;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                &:hover{
                    color: #29689B;
                }
            }
        }
    }
}

#content.home{
    min-height: 620px;
    padding-bottom:0;
}

#cases-home{
    position: relative;
    width: 220px;
    height: 312px;
    background: #29689B;
    float: right;
    margin-right: 35px;
    margin-top: -41px;
    padding-top:20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    //background: url(../img/quote.jpg);
    span{font-size: 11px;}
    h3 {
        margin-top: 5px;
        margin-bottom: 25px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'metabookitalic', Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: normal;
    }
}
#cases-home-img{
    margin-bottom: 0;
    display: block;
    outline: none;
    width: 220px;
    height: 120px;
    background: #fff;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    line-height: 120px;
    margin-top:15px;
}
#cases-home-titulo{
        display: block;
        background:#2d425f;
        padding: 10px 4px;
        line-height: 16px;
        font-family: @metabookitalic;
        font-size: 13px;
        color: #fff;
        margin-top: 0;
        text-align: center;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        text-decoration: none;
}
.cases-home-todos {
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: #fff;
    text-decoration: none;
    font: bold 14px 'calibri', sans-serif;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.1s, 0.1s;
    -webkit-transition-timing-function: linear, ease-in;
    -moz-transition-property: color;
    -moz-transition-duration: 0.1s, 0.1s;
    -moz-transition-timing-function: linear, ease-in;
    -o-transition-property: color;
    -o-transition-duration: 0.1s, 0.1s;
    -o-transition-timing-function: linear, ease-in;
}
.cases-home-todos:hover {
    color: #2d425f;
}

#oportunidades-home{
    font-family: @arialsans;
    border-bottom: solid 2px #CDD6DF;
    width: 240px;
    margin-top:25px;
    h1{
        font-family: @myriadwebpro;
        font-size: 12px;
        color: @azulh1;
        text-transform: uppercase;
    }
    .oportunidades-home-empresa {
        width: 232px;
        min-height: 9px;
        color: #293240;
        background: #CDD6DF;
        font-family: Arial, Helvetica, tahoma, sans-serif;
        margin-top: 4px;
        font-size: 9px;
        text-transform: uppercase;
        padding-bottom: 2px;
        padding-top: 5px;
        padding-left: 8px;
    }
    .oportunidades-home-data,.oportunidades-home-vagas-local{
        font-size: 9px;
        font-family: @arialsans;
        padding-left: 8px;
    }
    .oportunidades-home-data{
        margin-top: 4px;
    }
    .oportunidades-home-vagas-local{
        margin-bottom: 11px;
    }
    .oportunidades-home-descricao{
        font-size: 12px;
        padding-left: 8px;
    }
}

#oportunidades-home-mais, #oportunidades-home-mais:visited{
        font-size: 10px;
        color: @azulh1;
        text-decoration: none;
        float: right;
        font-weight: bold;
        margin-right: 20px;
        margin-top: 12px;
         -webkit-transition-property:color; 
                        -webkit-transition-duration: 0.1s, 0.1s; 
                        -webkit-transition-timing-function: linear, ease-in;

                        -moz-transition-property:color; 
                        -moz-transition-duration: 0.1s, 0.1s; 
                        -moz-transition-timing-function: linear, ease-in;

                        -o-transition-property:color; 
                        -o-transition-duration: 0.1s, 0.1s; 
                        -o-transition-timing-function: linear, ease-in;
        &:hover{
            color: #29689B;
        }
    }

.servicos-profissionais-home{
    position:absolute;
    margin-left: -20px;
    bottom:0;
    margin-bottom: 9px;
}

.servicos-profissionais-home #mais{
    width: 230px;
    display: block;
    color: #fff;
    background: #293243;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    height: 10px;
    line-height: 10px;
    padding-right: 10px;
    margin-left: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-top: -25px;
    position: relative;
     -webkit-transition-property:background; 
     -webkit-transition-duration: 0.1s, 0.2s; 
     -webkit-transition-timing-function: linear, ease-in;

     -moz-transition-property:background; 
     -moz-transition-duration: 0.1s, 0.2s; 
     -moz-transition-timing-function: linear, ease-in;

     -o-transition-property:background; 
     -o-transition-duration: 0.1s, 0.2s; 
     -o-transition-timing-function: linear, ease-in;
    &:hover{
        background: #29689B;
    }
}

.vagas-home-link{
    text-decoration: none;
}

/*****Perfil******/

.texto-right{
    width:510px;
    padding-right: 80px;
    float:right;
    margin-top:-20px;
    position:relative;
    z-index:10;
    h2{
        font-family: @metabookitalic;
        font-size: 20px;
        color: #2c425e;
        font-weight: normal;
        text-transform: uppercase;
    }
    h2.section{
        width: 496px;
        height: 30px;
        line-height: 30px;
        background: #a2c2d7;
        padding-left: 12px;
        font-size: 14px;
        margin-top:25px;
    }
    p, ul, li{
        color: #2c425e;
        font-size: 12px;
        font-family: @arialsans;
    }
    ul{
        margin:0;
        padding: 0;
        padding-left:15px;
    }
}

/*****Para Empresas*****/
.servicos-case-img{
    display:block;
    float:left;
    img{
        width:102px;
        height:60px;
    }
}
.servicos-nav{
    float: left;
    width: 280px;
    clear: left;
    h1{
        font-family: @metabookitalic;
        font-size: 16px;
        font-weight: normal;
        color: #2C425E;
        text-transform: uppercase;
        padding-left: 40px;
    }
    ul{
        margin:0;
        padding: 0;
        list-style-type: none;
        margin-top: 25px;
        li{
            line-height: 27px;
            a, a:visited{
                padding-left:40px;
                display:block;
                width: 330px;
                height: 27px;
                font-family: @myriadwebpro;
                font-size: 13px;
                color: #2C425E;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                -webkit-transition-property: background; 
                        -webkit-transition-duration: 0.1s, 0.1s; 
                        -webkit-transition-timing-function: linear, ease-in;

                        -moz-transition-property: background; 
                        -moz-transition-duration: 0.1s, 0.1s; 
                        -moz-transition-timing-function: linear, ease-in;

                        -o-transition-property: background; 
                        -o-transition-duration: 0.1s, 0.1s; 
                        -o-transition-timing-function: linear, ease-in;
            }
            a:hover, a.active{
                background: #28689A;
                color: #fff;
            }
        }
    }
}

.servicos-sub { margin-bottom: 0.8em; margin-top: 1.8em; font-weight: bold; }
.servicos-sub + p { margin-top: 0; }
.empresas h3 {
    cursor: pointer;
    width: 508px;
    height: 30px;
    padding-left: 12px;
    background: #E2EAF0;
    color: #2c425e;
    font: bold 12px/30px 'Arial', sans-serif;
    margin: 0 0 1px 0;
    -webkit-transition-property: padding; 
    -webkit-transition-duration: 0.1s, 0.1s; 
    -webkit-transition-timing-function: linear, ease-in;

    -moz-transition-property: padding; 
    -moz-transition-duration: 0.1s, 0.1s; 
    -moz-transition-timing-function: linear, ease-in;

    -o-transition-property: padding; 
    -o-transition-duration: 0.1s, 0.1s; 
    -o-transition-timing-function: linear, ease-in;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.empresas h3:hover {
    padding-left: 15px;
}
.cursos-interna {
    width: 496px;
    margin: 15px 0 20px;
}
.cursos-interna p {
    margin-top: 0;
}

/*****Vagas*****/

h2#oportunidades{
    font-size: 20px;
    margin-top: 0px;
    position: relative;
    z-index:12;
}

.vagas-modal-imagem{
    margin-top:15px;
    margin-bottom: 20px;
}

.conteudo-vagas{
    .texto-right{
        z-index:auto;
    }
}

.content-boxes{
    ul{
        margin:0;
        padding: 0;
        li{
            width: 508px;
            list-style-type: none;
            .box-vaga{
                display:block;
                margin-bottom: 20px;
                outline: none;
                color: #293240;
                .vaga-descricao{
                    width:368px;
                }
                .vaga-empresa{
                    text-decoration: none;
                    h1{
                        margin:0;
                        display:block;
                        width: 358px;
                        padding-left: 10px;
                        font-family: @arialsans;
                        font-size: 12px;
                        padding-top: 8px;
                        padding-bottom: 4px;
                        font-weight: normal;
                        text-transform: uppercase;
                        background: #CDD5DF;
                        color: #293240;
                        margin-bottom: 8px;
                        -webkit-transition-property:color, background; 
                        -webkit-transition-duration: 0.1s, 0.1s; 
                        -webkit-transition-timing-function: linear, ease-in;

                        -moz-transition-property:color, background; 
                        -moz-transition-duration: 0.1s, 0.1s; 
                        -moz-transition-timing-function: linear, ease-in;

                        -o-transition-property:color, background; 
                        -o-transition-duration: 0.1s, 0.1s; 
                        -o-transition-timing-function: linear, ease-in;


                        &:hover{
                            background: #28689A;
                            color: #fff;
                        }
                    }
                }
                .vaga-data-publicacao, .vaga-titulo, .vaga-quantidade-local{
                    padding-left: 10px;
                    line-height: 1.2em;
                }
                .vaga-data-publicacao span{
                    font-size: 12px;
                }
                .vaga-titulo span{
                    font-size: 14px;
                }
                .vaga-quantidade-local span{
                    font-size: 12px;
                }
                .vaga-imagem{
                    width: 132px;
                    height: 105px;
                    border: solid 4px #28689A;
                    text-align: center;
                    line-height: 1.2em;
                    display:block;
                    outline:none;
                    p{
                        margin-top: 32px;
                        width: 131px;
                    }
                    img{
                        margin-top:32px;
                    }
                }
                .vaga-mais, .vaga-mais:visited{
                    display: block;
                    color: #fff;
                    width: 50px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    background: #28689A;
                    text-decoration: none;
                    position: absolute;
                    margin-top: 18px;
                    margin-left: 318px;
                     -webkit-transition-property:color, background; 
                        -webkit-transition-duration: 0.1s, 0.1s; 
                        -webkit-transition-timing-function: linear, ease-in;

                        -moz-transition-property:color, background; 
                        -moz-transition-duration: 0.1s, 0.1s; 
                        -moz-transition-timing-function: linear, ease-in;

                        -o-transition-property:color, background; 
                        -o-transition-duration: 0.1s, 0.1s; 
                        -o-transition-timing-function: linear, ease-in;
                    &:hover{
                        background: #CDD5DF;
                        color:#293240;
                    }
                }
            }
        }
    }
}

.more-imagem{
    margin-top:-20px;
}

/*=====Newsletter=====*/

.newsletter{
    width:100%;
    height: 65px;
    background: #28689A;
    padding-top:10px;
    margin-top:27px;
    .interna{
        width: 978px;
    }
    #newsletter-label{
        width: 205px;
        height: 90px;
        background: #293241;
        color: #fff;
        float: left;
        margin-left: 26px;
        margin-top: -18px;
        text-align: center;
        h1{
            font-family: @metabookitalic;
            font-size: 37px;
            font-weight: normal;
            margin-bottom: 3px;
        }
        p{
            color: #fff;
            font-family: @myriadwebpro;
            font-size: 14px;
            font-style: italic;
            text-align: left;
            margin-left: 20px;
        }
    }
    p#newsletter{
        font-family: 'museo900', sans-serif;
        font-size: 38px;
        color: #fff;
        line-height:.9em;
        margin-top:-11px;
        float:left;
    }
    p{float:left; margin-bottom: 0;
        &#chamada{
            font-family:'calibri', sans-serif;
            font-size: 13px;
            font-weight: bold;
            color: #ffcc00;
            line-height: 1.1em;
            margin-left:34px;
            margin-top: -2px;
            margin-right:40px;
        }
    }  
    form{
        width:auto;
        float:left;
        margin-left: 27px;
        .hasPlaceholder, input::-webkit-input-placeholder, input:-moz-placeholder{
            color: #6a9798;
            font-family: 'calibri', sans-serif;
            font-size: 12px;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                line-height: 1em;
                &#ultimo{
                    margin-right: 0;
                }
                list-style-type: none;
                float:left;
                margin-right:40px;
                p{
                    float:none;
                }
                input[type="text"]{
                    width:165px;
                    height:23px;
                    border:none;
                    margin-bottom:9px;
                    font-family: 'calibri', sans-serif;
                    font-size: 12px;
                    padding-left:5px;
                    -webkit-border-radius: 0;
                    border-radius: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                }
                input[type="checkbox"]{
                   font-size: 12px;
                   float:left;
                   margin: 0;
                   margin-right: 4px;
                }
                input[type="submit"]{
                   border: none;
                   width: 48px;
                   height: 18px;
                   margin-top:37px;
                   margin-left: -51px;
                   background: #293240;
                   line-height: 16px;
                   color: #fff;
                   font-size: 12px;
                   font-family: @myriadwebpro;
                   -webkit-border-radius: 0;
                    border-radius: 0; 
                    -webkit-transition-property:color, background; 
                        -webkit-transition-duration: 0.1s, 0.1s; 
                        -webkit-transition-timing-function: linear, ease-in;

                        -moz-transition-property:color, background; 
                        -moz-transition-duration: 0.1s, 0.1s; 
                        -moz-transition-timing-function: linear, ease-in;

                        -o-transition-property:color, background; 
                        -o-transition-duration: 0.1s, 0.1s; 
                        -o-transition-timing-function: linear, ease-in;
                        &:hover{
                        background: #CDD5DF;
                        color:#293240;
                    }
                }
                label{
                    font-family: 'calibri', sans-serif;
                        font-size: 12px;
                        color: #fff;
                        margin-bottom: 0;
                    p{
                        font-family: 'calibri', sans-serif;
                        font-size: 12px;
                        color: #fff;
                        line-height:1.1em;
                        margin:0;
                    }
                }

            }
        }
    } 
}



/*****Fim de Vagas*****/

/*****Clientes | Cases******/
.conteudo-clientes{
    .texto-right{
        width:540px;
        padding-right:50px;
    }
}
.logos{margin-top:20px;}
.case{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin-right:32px;
    text-align: center;
    margin-bottom: 15px;
    p.descricao{
        font-size: 10px;
        font-family:@arialsans;
        color: #2C425E;
    }
    .cliente-box{
        display:block;
        width: 90px;
        height:90px;
        border: solid 5px #28689A;
        text-align:center;
        line-height: 90px;
    }
}
.conteudo-clientes-detalhe{
    .info{
        margin-top:20px;
        p{
            color: #2c425e;
            font-size: 12px;
            line-height: 18px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .navegacao{
            float:right;
            width: 100%;
            text-align: right;
            margin: 30px 0 0 0;
            border-top: 1px solid #a2c2d7;
            ul{
                margin: 10px 0 0;
                float: right;
                padding: 0;
                list-style-type: none;
                li{
                    float: left;
                    margin-left:20px;
                    a, a:visited{
                        font-family: @metabookitalic;
                        font-size: 14px;
                        color: #28689A;
                        text-decoration: none;
                    }
                }
            }
        }
}


/******Notícias*****/
.conteudo-novidades{
    article{
        h1{
            width: 490px;
            padding-left: 18px;
            display: block;
            font-size: 18px;
            font-weight: normal;
            font-family: 'metabookitalic', arial, helvetica, sans-serif;
            background: #A2C2D7;
            line-height: 1.5em;
        }
        p{
            font-size:11px;
        }
        .thumb{
            float:left;
            margin-right:18px;
        }
        .more{
            a{
                width:100px;
                height: 20px;
                text-align:center;
                line-height:20px;
                color: #fff;
                float: right;
                font-family: @metabookitalic;
                font-size: 11px;
                text-decoration: none;
                background: #28689A;
                margin-right: 2px;
                 -webkit-transition-property:color, background; 
                        -webkit-transition-duration: 0.1s, 0.1s; 
                        -webkit-transition-timing-function: linear, ease-in;

                        -moz-transition-property:color, background; 
                        -moz-transition-duration: 0.1s, 0.1s; 
                        -moz-transition-timing-function: linear, ease-in;

                        -o-transition-property:color, background; 
                        -o-transition-duration: 0.1s, 0.1s; 
                        -o-transition-timing-function: linear, ease-in;
                &:hover{
                        background: #A2C2D7;
                        color:#222;
                }
            }
        }
    }
    #noticias-voltar{
        display: block;
        width:100%;
        color: #fff;
        font-family: @metabookitalic;
        font-size: 11px;
        background: #28689A;
        text-decoration: none;
        text-align: center;
        height: 30px;
        line-height: 30px;
        margin-top:20px;
    }
}


/*****Contato*****/
.conteudo-contato{
    .endereco{
        p{
            font-family: 'calibri', arial, helvetica, sans-serif;
            font-size: 17px;
            line-height:1.2em;
            b{
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }
    .iframe-contato{
        border: solid 5px #28689A;
    }
    .central{
        width:202px;
        margin-left: 40px;
        margin-top: 20px;
        text-align:center;
        h1{
            font-family: @metabookitalic;
            font-size: 20px;
            font-weight: normal;
            color: #2C425E;
            margin-bottom:0;
        }
        h2{
            font-family: @metabold;
            font-size: 32px;
            color: #28689A;
            margin-top:0;
        }
        .separador{
            width:200px;
            height: 2px;
            background: #2C425E;
            margin-top:5px;
        }
    }
    .texto-left{
        float:left;
    }
    .form{
            form{
                #message{
                    font-family: 'ubunturegular', sans-serif;
                    font-size: 12px;
                    margin-bottom:6px;
                }
                width:520px;
                input[type="text"], textarea{
                    width:497px;
                    padding-left:10px;
                    border: solid 1px #DEDEDE; 
                    color: #28689E;
                    font-family: 'ubunturegular', sans-serif;
                    font-size: 12px;
                    margin-bottom:6px;
                }
                input.telefone, input.email{
                    width: 224px;
                    float:left;
                    margin-right:6px;
                }
                input.email{
                    width:255px;
                    margin-right:0;
                }
                textarea{
                    height: 150px;
                    line-height:32px;
                    width:495px;
                }
                input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
                    color: #28689E;
                    font-family: @myriadwebpro;
                    font-weight: bold;
                    font-size: 12px;
                    line-height:30px;
                }
                input:-moz-placeholder, textarea:-moz-placeholder { 
                    color: #28689E;
                    font-family: @myriadwebpro;
                    font-weight: bold;
                    font-size: 12px;
                    line-height:30px;
                }
                input[type="text"]{
                    height: 30px;
                    line-height:30px;
                }
                #submit{
                    width: 74px;
                    height: 25px;
                    background: #2C425E;
                    border: none;
                    outline: none;
                    color:#fff;
                    font-size: 14px;
                    font-family: @myriadwebpro;
                    font-weight: bold;
                    float:right;
                    margin-right: 11px;
                    margin-top:3px;
                    -webkit-transition-property:color, background; 
                        -webkit-transition-duration: 0.1s, 0.1s; 
                        -webkit-transition-timing-function: linear, ease-in;

                        -moz-transition-property:color, background; 
                        -moz-transition-duration: 0.1s, 0.1s; 
                        -moz-transition-timing-function: linear, ease-in;

                        -o-transition-property:color, background; 
                        -o-transition-duration: 0.1s, 0.1s; 
                        -o-transition-timing-function: linear, ease-in;
                    &:hover{
                            background: #29689B
                        }
                }
            }
        }
}

.pagination.center,
.pagination.center ul {
    float: left;
    position: relative;
}
.pagination.center { left: 50%; }
.pagination.center ul { left: -50%; }

.pagination.center{
    ul{
        margin-top:50px;
        li{
            float: left;
            list-style-type: none;
            font-family: @myriadwebpro;
            font-style: italic;
            font-size: 18px;
            color: #28689A;
            margin-right: 4px;
            &.active{
                a{
                    color: @azulescuro;
                }
            }
            a, a:visited{
                text-decoration: none;
                color: #28689A;
            }
        }
    }
}

.ui-accordion .ui-accordion-header {
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  zoom: 1;
  width:100%
  height:23px;
  background-color:green;
  -webkit-border-radius: 0px 7px 0px 0px;
border-radius: 0px 7px 0px 0px; 
}
.ui-accordion .ui-accordion-li-fix {
  display: inline;
}
.ui-accordion .ui-accordion-header-active {
  border-bottom: 0 !important;
}
.ui-accordion .ui-accordion-header a {
  display: block;
  font-family: 'museo500';
  font-weight:normal;
  text-decoration: none;
  color:#fff;
  font-size:15px;
  line-height:23px;
  height:23px;
}
/* IE7-/Win - Fix extra vertical space in lists */
.ui-accordion a {
  zoom: 1;
}
.ui-accordion-icons .ui-accordion-header a {
  padding-left: 12px;
}
.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
  border-top: 0;
  margin-top: -2px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  display: none;
  zoom: 1;
  padding-top:16px;
  padding-bottom:16px;
}
.ui-accordion .ui-accordion-content-active {
  display: block;
}

#separador-footer{
    width: 100%;
    height: 9px;
    background: #2D425F;
}

.footer{
    height:165px;
    background: #293241;
    .telefone-footer a:link, .endereco a:link{text-decoration:none; font-weight:bold; color:#fff;}
    .endereco a:link{font-weight: normal}
    .info{
        position: relative;
        p{font-size:13px; color: #fff; margin: 1em 0 1.2em; line-height: normal;}
        font-family: 'Arial', sans-serif;
        color: #fff;
        ul{
            margin: 0;
            padding: 0;
            li{
                float:left;
                margin:0;
                padding:0;
                list-style-type:none;
            }
            li.endereco{
                margin-left:35px;
                p{line-height: 1.7em; margin-top: 10px;
}
            }
            li.sitemap{
                margin-top:12px;
                margin-left:56px;
                font-size:12px;
                ul{
                    li{
                        float:none;
                        a, &:visited{
                            text-decoration: none;
                            color:#fff;
                            line-height: 1.7em;
                             -webkit-transition-property:color; 
                            -webkit-transition-duration: 0.1s, 0.1s; 
                            -webkit-transition-timing-function: linear, ease-in;

                            -moz-transition-property:color; 
                            -moz-transition-duration: 0.1s, 0.1s; 
                            -moz-transition-timing-function: linear, ease-in;

                            -o-transition-property:color; 
                            -o-transition-duration: 0.1s, 0.1s; 
                            -o-transition-timing-function: linear, ease-in;
                            &:hover{
                                color:@azulclaro;
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright{
        p{font-size: 11px; color: @azulclaro;}
        float:right;
        color: #999;
        font-family: 'Arial', sans-serif;
        font-size: 11px;
        text-align: right;
        margin-top:5px;
        #copy-meta{
            line-height:1.1em;
            margin: 1em 0 1.2em;
        }
        #trupe{
            margin-bottom:2px;
            a, &:visited{
                text-decoration: none;
                color:@azulclaro;
            }
        }
        #logo-trupe{
            display:block;
            float:right;
            width: 20px;
            height:16px;
            background: url(../img/trupe.png);
        }
    }
}

#ajax-loader{
    display:none;
    text-align: center;
}
.grupo{
    width: 100%;
    height: 180px;
    background: #29689B;
    color: #fff;
    .descricao-grupo{
        padding-top:6px;
        width: 237px;
        float:left;
        font-size:11px;
        color: #fff;
        p{
            font-size:11px;
            line-height: 1.2em;
            color: #fff;
            margin: 1em 0;
            font-family: 'calibri', sans-serif;
        }
        #logo-grupo-meta{
            display: block;
            width: 235px;
            height:50px;
            margin-top:22px;
            background: url(../img/logo-grupo.png); 
        }
        ul{
            margin:12px 0 0 0;
            padding:0;
            float: right;
            text-align: right;
            font-weight: bold;
            li{
                font-family: 'calibri', sans-serif;
                line-height: normal;
                padding:0;
                margin:0;
                list-style-type: none;
                a, &:visited{
                    text-decoration: none;
                    color:#fff;
                     -webkit-transition-property:color; 
                            -webkit-transition-duration: 0.1s, 0.1s; 
                            -webkit-transition-timing-function: linear, ease-in;

                            -moz-transition-property:color; 
                            -moz-transition-duration: 0.1s, 0.1s; 
                            -moz-transition-timing-function: linear, ease-in;

                            -o-transition-property:color; 
                            -o-transition-duration: 0.1s, 0.1s; 
                            -o-transition-timing-function: linear, ease-in;
                    &:hover{
                        color:@azulescuro;
                    }
                }
            }
        }
    }
    #unidades{
        float:right;
        margin:0;
        margin-top:10px;
        padding:0;
        .unidade{
            width: 234px;
            height: 160px;
            background: #fff;
            margin-left: 10px;
            float:left;
            text-align: center;
            color:#333;
            ul{
                margin:0;
                padding:0;
                font-family: 'Arial', sans-serif;
                font-size:10px;
                li{
                    list-style-type: none;
                    text-align: center;
                    line-height: 1.1em;
                    a{
                        color: #333;
                        text-decoration:none;
                         &:hover{
                             color: #29689B;
                         }
                         &#meta-rh{
                            display:block;
                            width:90px;
                            height:52px;
                            background:url(../img/bpo-rodape.png);
                            margin: 14px auto 14px auto;
                        }
                        &#meta-executivos{
                            display:block;
                            width:86px;
                            height:50px;
                            background:url(../img/meta-executivos-menor.jpg);
                            margin: 15px auto 15px auto;
                        }
                        &#meta-talentos{
                            display:block;
                            width:160px;
                            height:29px;
                            background:url(../img/meta-talentos-menor.png);
                            margin: 29px auto 22px auto;
                        }
                    }
                }
            }
        }
    }
}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body{min-width:1024px;}
    .grupo, .footer{
        width:1099px;
    }
}





/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
