* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: #f5f5f5;
	padding: 20px 0;
}

.clear {
	display: block;
	clear: both;
}

div.corpo {
	width: 900px;
	margin: 0 auto;
}

	div.corpo div.topo div.top-position {
		width: 624px;
		height: 89px;
		margin-right: 10px;
		float: right;
		overflow: hidden;
	}

	div.corpo div.topo a.logo {
		float: left;
		background: url('../images/logo.png');
		width: 205px;
		height: 89px;
		overflow: hidden;
		text-indent: -999px;
		margin-left: 25px;
	}
	
	div.corpo div.topo div.menu-position { padding-top: 10px; }
	
	div.corpo div.topo div.menu-position ul.item {
		list-style: none;
		background-color: #25126b;
		height: 38px;
	}
	
		div.corpo div.topo div.menu-position ul.item li {
			float: left;
			font: 15px Arial;
			color: #ffffff;
			padding: 10px 34px 0;
			height: 28px;
		}
		
			div.corpo div.topo div.menu-position ul.item li a {
				color: #ffffff;
				text-decoration: none;
			}
			
			div.corpo div.topo div.menu-position ul.item li.item:hover { background: #191039; }
			
				div.corpo div.topo div.menu-position div.subitem1 {
					position: absolute;
					background-color: #25126b;
					margin: 28px 5px 5px -34px;
					padding-top: 1px;
				}
			
				div.corpo div.topo div.menu-position div.subitemlevel1 {
					margin: 0 1px 1px;
					padding: 5px 20px 5px 10px;
					width: 100px;
				}
				
				div.corpo div.topo div.menu-position div.subitemlevel1:hover  { background-color: #191039; }
				
				div.corpo div.topo div.menu-position div.bgsubitem  { background: url('../images/arrow_menu-right-out.gif') no-repeat right; }
				
				div.corpo div.topo div.menu-position div.bgsubitem:hover  { background: #191039 url('../images/arrow_menu-right-on.gif') no-repeat right; }
				
					div.corpo div.topo div.menu-position div.subitem2 {
						position: absolute;
						margin: -5px 0 0 120px;
						background-color: #25126b;
					}
				
					div.corpo div.topo div.menu-position div.subitemlevel2 {
						margin: 0 1px 1px;
						padding: 5px 20px 5px 10px;
					}
				
					div.corpo div.topo div.menu-position div.subitemlevel2:hover  { background-color: #191039; }
			
			
	div.corpo div.topo div.teaser-position { margin-bottom: 12px; }
			
	div.corpo div.left-before-content-position {
		width: 440px;
		float: left;
	}
	
	div.corpo div.right-before-content-position {
		width: 440px;
		float: right;
	}
	
		div.corpo div.content-box {
			display: block;
			margin: 12px 0;
		}
		
		div.corpo div.content-box h2 {
			font-family: Times New Roman;
			font-size: 30px;
			color: #25126a;
			width: 400px;
			height: 40px;
			float: left;
		}
		
			div.corpo div.content-box h2 span { color: #483299; }
			
		div.corpo div.content-box div.readmore {
			width: 31px;
			height: 31px;
			float: right;
			overflow: hidden;
			background: url('../images/ico_more.gif') no-repeat;
			margin-top: 8px;
			cursor: pointer;
		}
		
		div.corpo div.content-box div.block {
			display: block;
			clear: both;
			background-color: #ffffff;
			border: 1px solid #eeeeee;
			border-top: 3px solid #25126a;
		}
		
			div.corpo div.content-box div.block div.body { padding: 10px; }
			
				div.corpo div.content-box div.block div.body h3 {
					font-family: Times New Roman;
					font-size: 20px;
					color: #25126a;
					padding: 5px 0;
				}
			
				div.corpo div.content-box div.block div.body p {
					font-family: Arial;
					font-size: 14px;
					color: #444444;
				}
		
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form table { margin-top: 10px;	}
				
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form table tr th {
					font-family: Arial;
					font-size: 14px;
					color: #444444;
					text-align: right;
					padding-right: 5px;
					width: 100px;
				}
				
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form table tr td { padding: 5px; }
				
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form table tr td input,
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form table tr td select,
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form table tr td textarea {
					border: 1px solid #eeeeee;
					padding: 2px;
					font: 14px Arial;
					color: #bbbbbb;
					width: 210px;
				}
				
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form table tr td input { width: 210px; }
				
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form table tr td select { width: 215px; }
				
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form table tr td textarea { height: 75px; }
				
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form div.submit {
					width: 326px;
					text-align: right;
				}
				
				div.corpo div.left-before-content-position div.cadastro-curriculo div.block div.body form div.submit input {
					font: bold 14px Arial;
					color: #ffffff;
					background-color: #25126a;
					width: 60px;
					height: 25px;
				}
		
		div.corpo div.right-before-content-position div.ultimos-artigos ul {
			display: block;
			clear: both;
			list-style: none;
			background-color: #ffffff;
			border: 1px solid #eeeeee;
			border-top: 3px solid #25126a;
			padding: 0 10px;
		}
		
		div.corpo div.right-before-content-position div.ultimos-artigos ul li {
			border-bottom: 1px solid #f3f2f6;
			padding: 10px 0;
		}
		
			div.corpo div.right-before-content-position div.ultimos-artigos ul li a { text-decoration: none; }
		
			div.corpo div.right-before-content-position div.ultimos-artigos ul li h3 {
				font-family: Arial;
				font-size: 14px;
				color: #25126a;
			}
			
			div.corpo div.right-before-content-position div.ultimos-artigos ul li p {
				font-family: Arial;
				font-size: 14px;
				color: #444444;
			}
	
	div.corpo div.content-position div.left-content-position {
		width: 216px;
		float: left;
		margin: 24px 0 15px;
	}
	
		div.corpo div.content-position div.left-content-position div.bannergroup div.banneritem {
			text-align: center;
			margin-bottom: 20px;
		}
	
	div.corpo div.content-position div.content {
		width: 604px;
		margin: 24px 0 15px;
		float: right;
		border: 1px solid #eeeeee;
		background-color: #ffffff;
		padding: 30px;
	}
	
		div.corpo div.content-position div.content blockquote,
			div.corpo div.content-position div.content blockquote * {
				font-family: Arial;
				font-size: 12px;
				color: #444444;
			}
			
				div.corpo div.content-position div.content blockquote p { padding-bottom: 15px; }
	
		div.corpo div.content-position div.content h2 {
			font-family: Times New Roman;
			font-size: 30px;
			color: #483299;
			padding-bottom: 20px;
		}
		
		div.corpo div.content-position div.content ul.list { list-style: none; }
		
			div.corpo div.content-position div.content ul.list li a { text-decoration: none; }
		
		div.corpo div.content-position div.content h3 {
			font-family: Times New Roman;
			font-size: 20px;
			color: #483299;
		}
	div.corpo div.footer-position {
		clear: both;
		display: block;
		background-color: #25126a;
		padding: 10px;
		font-family: Arial;
		font-size: 10px;
		color: #dddddd;
		margin-top: 12px;
	}
	
	div.corpo div.footer-position a { color: #ffffff; }