span.mceItemPhp, span.mceItemScript {display:inline-block;width:20px;height:20px;background-image:url(../img/icons.gif);background-repeat:no-repeat;}
span.mceItemPhp {background-position: 0 0px;}
span.mceItemScript {background-position: 0 -40px;}