@import './vars.less';

.centro{
	.centralizar;
}

h1#pagenotfound{
	display: block;
	text-align: center;
	margin:60px 0;
	padding:100px 0;
	color:@azul_escuro;
	.ubuntu(30px);
}

body{
	header{
		#aux-nav{
			height:16px;
			padding: 10px 0;
			background:url('../images/layout/bg.png');
			.telefone{
				float:left;
				height:16px;
				line-height:16px;
				color:#fff;
				.ubuntu(13px, bold);
				padding-left:22px;
				background:url('../images/layout/icone-telefone.png') left center no-repeat;
				small{font-size:10px;}
			}
			ul{
				float:right;
				height:16px;
				line-height:16px;
				border-left:1px @azul_claro solid;
				li{
					.inline;
					a{
						height:16px;
						border-right:1px @azul_claro solid;
						padding:0 10px;
						display:block;
						text-decoration:none;
						color:#fff;
						img{
							float:left;
							margin-top: -4px;
							margin-right: 5px;
						}
						.ubuntu(11px, bold);
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{
							color:@verde;
						}
						&.fb-link{
							padding:0 14px;
							overflow:hidden;
							text-indent: -1000px;
							background:url('../images/layout/social-facebook.png') center center no-repeat;
							.transition;
							&:hover{
								background:url('../images/layout/social-facebook-hover.png') center center no-repeat;
							}
						}
						&.tw-link{
							padding:0 14px;
							overflow:hidden;
							text-indent: -1000px;
							background:url('../images/layout/social-twitter.png') center center no-repeat;
							.transition;
							&:hover{
								background:url('../images/layout/social-twitter-hover.png') center center no-repeat;
							}
						}
						&.lk-link{
							padding:0 14px;
							overflow:hidden;
							text-indent: -1000px;
							background:url('../images/layout/social-linkedin.png') center center no-repeat;
							.transition;
							&:hover{
								background:url('../images/layout/social-linkedin-hover.png') center center no-repeat;
							}
						}
					}
				}
			}
		}
		nav{
			-webkit-box-shadow: 0 12px 30px -12px #000000;
			box-shadow: 0 12px 30px -12px #000000;
			position:relative;
			z-index:999999;
			height:125px;
			#link-home{
				float:left;
				margin-top:20px;
			}
			ul#main-nav{
				height:125px;
				float:right;
				font-size: 0;
				& > li{
					height:125px;
					position:relative;
					.inline;
					&:hover a, a.ativo{
						color:@azul;
						background:url('../images/layout/marcacao-menu.png') #F8F8F8 center bottom no-repeat;
					}
					a{
						padding:0 15px;
						height:124px;
						line-height:124px;
						display:block;
						text-decoration:none;
						color:#787878;
						text-transform:uppercase;
						position:relative;
						background:url('../images/layout/marcacao-menu.png') #FFF center 130px no-repeat;
						.ubuntu(14px);
						.transition;
						&:active, &:visited{color:#787878;}
						.seta{
							.inline;
							margin-left:2px;
							width:7px;
							height:7px;
							vertical-align: 2px;
							background:url('../images/layout/seta-dropdown.png') center center no-repeat;
						}
					}
					&.comsub{
						&:hover{
							ul.submenu{
								height:auto;
								opacity:1;
								overflow:visible !important;
								li, li a{
									opacity:1;
									height:35px;
								}
								&:before{opacity:1;}
							}
						}
						ul.submenu{
							white-space: nowrap;
							min-width:187px;
							position:absolute;
							z-index:9999;
							top:125px;
							opacity:0;
							height:0px;
							overflow:hidden;
							&:before{
								content:"";
								position:absolute;
								top:-4px;
								left:0px;
								height:3px;
								width:100%;
								background: @verde;
								opacity:0;
								.transition;
							}
							li{
								height:0;
								opacity:0;
								.transition;								
								a{
									height:0;
									opacity:0;									
									line-height:35px;
									text-transform:none;
									display:block;
									background:@azul_escuro;
									color:#fff;
									.ubuntu(13px);
									.transition;
									&:active, &:visited{color:#fff;}
									&:hover{
										background:@verde;
										color:@azul;
									}
								}
							}		
						}
					}
				}
			}
		}
	}
	.main{
		.cke{
			p{
				.ubuntu(14px);
				color: #333;
				line-height: 1.6;
				margin:13px 0;
			}
			ol {
				.ubuntu(14px);
				color: #333;
				line-height: 1.6;
			    counter-reset:li; /* Initiate a counter */
			    margin-left:-7px; /* Remove the default left margin */
			    padding-left:0; /* Remove the default left padding */
			}
			ol > li {
			    position:relative; /* Create a positioning context */
			    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
			    padding:4px 8px; /* Add some spacing around the content */
			    list-style:none; /* Disable the normal item numbering */    
			}
			ol > li > p{
				margin:0;
			}
			ol > li:before {
			    content:counter(li) ")";
			    counter-increment:li;
			    position:absolute;
			    top:0;
			    left:-2em;
			    -moz-box-sizing:border-box;
			    -webkit-box-sizing:border-box;
			    box-sizing:border-box;
			    width:2em;
			    margin-right:8px;
			    padding:4px;
			    color:#036196;
			    font-weight: bold;
			    font-family:"Ubuntu", Arial, sans-serif;
			    text-align:center;
			}
			li ol,
			li ul {margin-top:6px;}
			ol ol li:last-child {margin-bottom:0;}

			ul {
				.ubuntu(14px);
				color: #333;
				line-height: 1.6;
			    margin-left:-7px;
			    padding-left:0;
			}
			ul > li {
			    position:relative;
			    margin:0 0 6px 2em;
			    padding:4px 8px;
			    list-style:none;
			}
			ul > li > p{
				margin:0;
			}
			ul > li:before {
			    content:"";
			    position:absolute;
			    top:10px;
			    left:-2em;
			    -moz-box-sizing:border-box;
			    -webkit-box-sizing:border-box;
			    box-sizing:border-box;
			    width:2em;
			    margin-right:8px;
			    padding:4px;
			    color:#98CC23;
			    font-weight: bold;
			    font-family:"Ubuntu", Arial, sans-serif;
			    text-align:center;
			    background:url('../images/layout/bullet-verde.png') center center no-repeat;
			}
			li ul,
			li ul {margin-top:6px;}
			ul ul li:last-child {margin-bottom:0;}			
			strong{
				font-weight:bold;
			}
			a{
				color:@azul_escuro;
				.transition;
				&:active, &:visited{color:@azul_escuro;}
				&:hover{color:@verde;}
			}
		}
		#faixa-azul-titulo{
			background:@azul;
			padding:35px 0;
			color:#fff;
			line-height:100%;
			display:block;
			margin-bottom:35px;
			.ubuntu(35px);
			span{
				color:@verde;
				.ubuntu(14px);
				vertical-align:7px;
				margin-right:3px;
			}
		}		
	}
	.barra-servicos{
		height:237px;
		background:#F2F2F2;
		.conheca{
			height:237px;
			background:url('../images/layout/triangulo-footer.png') #E5E5E5 right bottom no-repeat;
			width:240px;
			padding-left:800px;
			margin-left:-800px;
			overflow:hidden;
			float: left;
			.linha{
				height:35px;
				line-height:35px;
				.ubuntu(24px, 300);
				color:#A0A0A0;
				display:block;
				&.linha1{margin-top:55px; margin-left:22px;}
				&.linha2{margin-left:30px;}
				&.linha3{}
			}
		}
		.servicos-executive{
			.inline;
			width:342px;
			margin-left:45px;
			margin-top:45px;
			a.titulo{
				display:block;
				height:110px;
				line-height:110px;
				text-transform: uppercase;
				overflow:hidden;
				.ubuntu(20px);
				color:@azul;
				.transition;
				strong{font-weight:bold;}
				text-decoration:none;
				.imagem{
					float:left;
					margin-right:20px;					
					width:95px;
					height:95px;
					.arredondada(100%);
					.transition;
					border:4px #F2F2F2 solid;
				}
				&:active, &:visited{color:@azul;}
				&:hover{
					color:@verde;
					.imagem{
						border:4px @azul solid;
					}
				}
			}
			ul{
				padding-left:120px;
				li{
					margin-bottom:5px;
					a{
						text-decoration: none;
						.ubuntu(14px);
						color:#5A5A5A;
						.transition;
						&:active, &:visited{color:#5A5A5A;}
						&:hover{color:@azul;}
						span{color:@azul;}
					}
				}
			}
		}
		.servicos-desenvolvimento{
			.inline;
			width:328px;
			margin-left:20px;
			margin-top:45px;
			a.titulo{
				display:block;
				height:110px;
				line-height:120%;
				overflow:hidden;
				text-transform: uppercase;
				.ubuntu(20px);
				color:@azul;
				.transition;
				strong{font-weight:bold;}
				text-decoration:none;
				.imagem{
					float:left;
					margin-right:20px;					
					width:95px;
					height:95px;
					.arredondada(100%);
					.transition;
					border:4px #F2F2F2 solid;
				}
				span{
					width:204px;
					.inline;
					padding-top:31px;
				}
				&:active, &:visited{color:@azul;}
				&:hover{
					color:@verde;
					.imagem{
						border:4px @azul solid;
					}
				}
			}
			ul{
				padding-left:120px;
				li{
					margin-bottom:5px;
					a{
						text-decoration: none;
						.ubuntu(14px);
						color:#5A5A5A;
						.transition;
						&:active, &:visited{color:#5A5A5A;}
						&:hover{color:@azul;}
						span{color:@azul;}
					}
				}
			}	
		}
	}
	footer{
		border-top:5px @verde solid;
		background:url('../images/layout/bg.png');
		.centro{
			padding:30px 0;
			background:url('../images/layout/footer-detalhe.png') 395px top no-repeat;
		}
		.footer-coluna{
			.inline;
			ul.topmenu{
				list-style-type:none; 
				line-height:100%;
				max-width: 210px;
				li{
					margin-top:20px;
					display:block;
					&:first-child{margin-top:0;}
					a{
						padding-left:18px;
						background:url('../images/layout/bullet-azul.png') left 6px no-repeat;
						color:@verde;
						display: block;
						line-height: 115%;
						text-transform: uppercase;
						text-decoration:none;
						.ubuntu(16px, bold);
						.transition;
						&:active, &:visited{color:@verde;}
						&:hover{
							color:#fff;
							background:url('../images/layout/bullet-verde.png') left 6px no-repeat;
						}
					}
					&.comsub{
						ul.submenu{
							list-style-type:none; 
							line-height:100%;
							padding-left:18px;
							li{
								margin-top:5px;
								display:block;
								padding-left:15px;
								background:url('../images/layout/bullet-seta.png') left 4px no-repeat;
								a{
									padding-left: 0;
									background:none;
									color:#fff;
									text-transform: none;
									.ubuntu(14px);
									.transition;
									&:active, &:visited{color:#fff;}
									&:hover{color:@azul_claro;}
								}
							}
						}
					}
				}
			}			
		}
		.coluna1{
			width:225px;			
		}
		.coluna2{
			min-height: 280px;
			width:325px;
			position:relative;
			.grupo{
				padding-left: 20px;
				position:absolute;
				left:0;
				bottom:0;
				margin-top:40px;
				p{
					margin-right:3px;
					padding-top:7px;
					.calibri(11px);
					line-height:125%;
					text-align:center;
					color:#fff;
					.inline;
					width:100px;
				}
			}
		}
		.coluna3{
			float:right;
			width:300px;
			text-align: right;
			min-height: 270px;
			position:relative;
			.social{
				margin-bottom:28px;
				.fb-link{
					.inline;
					.transition;
					width:36px;
					height:36px;
					overflow:hidden;
					text-indent: 400px;
					line-height:100%;
					font-size:10px;
					background:url('../images/layout/footer-facebook.png') center center no-repeat;
					&:hover{
						background:url('../images/layout/footer-facebook-hover.png') center center no-repeat;
					}
				}
				.tw-link{
					.inline;
					.transition;
					width:36px;
					height:36px;
					overflow:hidden;
					text-indent: 400px;
					line-height:100%;
					font-size:10px;
					background:url('../images/layout/footer-twitter.png') center center no-repeat;
					&:hover{
						background:url('../images/layout/footer-twitter-hover.png') center center no-repeat;
					}
				}
				.lk-link{
					.inline;
					.transition;
					width:36px;
					height:36px;
					overflow:hidden;
					text-indent: 400px;
					line-height:100%;
					font-size:10px;
					background:url('../images/layout/footer-linkedin.png') center center no-repeat;
					&:hover{
						background:url('../images/layout/footer-linkedin-hover.png') center center no-repeat;
					}
				}
			}
			.telefone{
				color:#fff;
				margin-bottom:10px;
				.ubuntu(42px);
				small{font-size: 18px;}
			}
			.endereco{
				color:#fff;
				line-height: 120%;
				.calibri(13px);
			}
			.assinatura{
				position: absolute;
				bottom:0;
				right:0;
				color:@azul_claro;
				.calibri(11px);
				a{
					float:right;
					width:227px;
					display:block;
					text-decoration:none;
					color:@azul_claro;
					margin-top:5px;
					.transition;
					&:active, &:visited{color:@azul_claro;}
					&:hover{color:#fff;}
					img{
						margin-left:4px;
						vertical-align: -3px;
					}
				}
			}
		}
	}
}