@import 'vars.less';

html{
	body{
		.dep{
			font-size:0;
			margin-bottom:65px;
			.imagem{
				width:290px;
				.inline;
				img{
					display:block;
					margin:0 auto;
				}
			}
			.texto{
				.inline;
				margin-left:40px;
				width:570px;
				h2{
					color:@azul;
					.ubuntu(24px);
					padding-left:20px;
					display:block;
					position:relative;
					&:before{
						.ubuntu(24px, bold);
						content:"/";
						color:@verde;
						position:absolute;
						top:0;
						left:0;
					}
				}
				.autor{
					.calibri(14px);
					color:@verde;
					text-decoration: italic;
				}
			}
		}
	}
}
