@import 'vars.less';

html{
	body{
		.listaCases{
			text-align:center;
			margin-bottom:60px;
			a{
				border:1px #D2D2D2 solid;
				width:180px;
				height:110px;
				margin:0 10px 10px 0;
				.inline;
				.transition;
				&:hover, &.aberto{
					border-color:#036196;
				}
			}
			.detalhes{
				.transition;
				font-size:0;
				display:block;
				margin:0;
				padding:0;
				height:0;
				overflow:hidden;
				background: @azul;
				text-align:left;
				.centro{
					position:relative;
					.setaUp{
						.transition;
						position:absolute;
						width:19px;
						height:10px;
						top:0;
						left:0;
						opacity:0;
						background:url('../images/layout/cases-seta-cima.png') center center no-repeat;
					}
					/*&.aberto1:before{left:78px;}
					&.aberto2:before{left:273px;}
					&.aberto3:before{left:466px;}
					&.aberto4:before{left:666px;}
					&.aberto5:before{left:869px;}*/
				}
				.fechar{
					position: absolute;
					top:0;
					right:0;
					width:21px;
					height:21px;
					cursor:pointer;
					background:url('../images/layout/cases-fechar.png') center center no-repeat;
					.transition;
					&:hover{
						background:url('../images/layout/cases-fechar-hover.png') center center no-repeat;
					}
				}
				.imagem{
					width:380px;
					.inline;
				}
				.texto{
					margin-left:50px;
					width:550px;
					.inline;
				}
				h2{
					.ubuntu(24px);
					color:@verde;
					line-height: 120%;
					margin-bottom:20px;
				}
				&.aberto{
					overflow:visible;
					height:auto;
					margin:10px 0 20px 0;
					padding:40px 0;
					.centro .setaUp{
						opacity:1;
						top:-50px;
					}
				}
			}
		}
	}
}
