@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .listaCases {
  text-align: center;
  margin-bottom: 60px;
}
html body .listaCases a {
  border: 1px #D2D2D2 solid;
  width: 180px;
  height: 110px;
  margin: 0 10px 10px 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .listaCases a:hover,
html body .listaCases a.aberto {
  border-color: #036196;
}
html body .listaCases .detalhes {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 0;
  display: block;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  background: #036196;
  text-align: left;
}
html body .listaCases .detalhes .centro {
  position: relative;
  /*&.aberto1:before{left:78px;}
					&.aberto2:before{left:273px;}
					&.aberto3:before{left:466px;}
					&.aberto4:before{left:666px;}
					&.aberto5:before{left:869px;}*/

}
html body .listaCases .detalhes .centro .setaUp {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  width: 19px;
  height: 10px;
  top: 0;
  left: 0;
  opacity: 0;
  background: url('../images/layout/cases-seta-cima.png') center center no-repeat;
}
html body .listaCases .detalhes .fechar {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  cursor: pointer;
  background: url('../images/layout/cases-fechar.png') center center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .listaCases .detalhes .fechar:hover {
  background: url('../images/layout/cases-fechar-hover.png') center center no-repeat;
}
html body .listaCases .detalhes .imagem {
  width: 380px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .listaCases .detalhes .texto {
  margin-left: 50px;
  width: 550px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .listaCases .detalhes h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #98cc23;
  line-height: 120%;
  margin-bottom: 20px;
}
html body .listaCases .detalhes.aberto {
  overflow: visible;
  height: auto;
  margin: 10px 0 20px 0;
  padding: 40px 0;
}
html body .listaCases .detalhes.aberto .centro .setaUp {
  opacity: 1;
  top: -50px;
}
