@import 'vars.less';

html{
	.barra-servicos{display:none !important;}
	body{
		.main{
			font-size:0;
			.form{
				margin:50px 0 70px 0;
				width:600px;
				.inline;
				h2{
					.ubuntu(22px);
					color:@azul;
					line-height: 100%;
					margin-bottom:15px;
					border-bottom:1px #E0E0E0 solid;
					padding-bottom:15px;						
					span{
						padding-bottom:14px;
						border-bottom:1px @azul solid;
					}
					strong{font-weight: bold;}
				}
				.enviado{
					background:url('../images/layout/icone-curriculo-enviado.png') @verde 80px center no-repeat;
					color:#fff;
					.ubuntu(16px, bold);
					padding:25px 10px 25px 70px;
					line-height: 120%;
					text-align:center;
				}
				form{
					input[type="text"],
					input[type="email"]{
						display:block;
						padding:15px 10px;
						line-height: 110%;
						border:1px #D2D2D2 solid;
						background:#fff;
						margin:0 0 10px 0;
						color:#424242;
						width:578px;
						.ubuntu(14px);
						.placeholder(#D2D2D2);
						&#input-email{
							width:273px;
							.inline;
						}
						&#input-telefone{
							width:273px;
							margin-left:10px;
							.inline;
						}
					}
					textarea{
						resize:none;
						overflow:auto;
						padding:15px 10px;
						line-height: 110%;
						border:1px #D2D2D2 solid;
						background:#fff;
						margin:0 0 10px 0;
						color:#424242;
						width:578px;
						height:140px;
						.ubuntu(14px);
						.placeholder(#D2D2D2);
					}
					.enviar{
						height:38px;
						text-align:right;
						button{
							border:0;
							margin-right:5px;
							.inline;
							padding:9px 20px;
							line-height: 100%;
							.ubuntu(14px, bold);
							color:#fff;
							background:@verde;
							text-decoration: none;
							.transition;
							-webkit-box-shadow: 4px 4px 0 0px #E5E5E5;
							box-shadow: 4px 4px 0 0px #E5E5E5;
							-moz-transform: skewX(-15deg);
							-webkit-transform: skewX(-15deg);
							-o-transform: skewX(-15deg);
							-ms-transform: skewX(-15deg);
							transform: skewX(-15deg);
							cursor:pointer;
							&:active, &:visited{color:@azul;}
							&:hover{
								color:@azul;
							}
							span{
								display:block;
								-moz-transform: skewX(15deg);
								-webkit-transform: skewX(15deg);
								-o-transform: skewX(15deg);
								-ms-transform: skewX(15deg);
								transform: skewX(15deg);
							}
						}
					}
				}
			}
			.info{
				margin:50px 0 70px 70px;
				width:310px;
				.inline;
				h2{
					.ubuntu(22px);
					color:@azul;
					line-height: 100%;
					margin-bottom:15px;
					border-bottom:1px #E0E0E0 solid;
					padding-bottom:15px;						
					span{
						padding-bottom:14px;
						border-bottom:1px @azul solid;
					}
					strong{font-weight: bold;}
				}
				.telefone{
					color:@azul;
					white-space: nowrap;
					margin-bottom:30px;
					.ubuntu(48px);
					small{
						font-size:24px;
					}
				}
				.endereco{
					line-height:150%;
					color:#919191;
					margin-bottom:100px;
					.ubuntu(16px);
				}
				.assinatura{
					p{
						.calibri(10px);
						color:#B4B4B4;
						line-height:130%;
						.inline;
						width:95px;
						padding-top:8px;
						margin-right:10px;
						text-align:center;
					}
					img{
						.inline;
					}
				}
			}
		}
	}
}
