@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .conteudo {
  font-size: 0;
}
html body .conteudo .imagem {
  margin-bottom: 75px;
  width: 390px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .conteudo .imagem img {
  max-width: 390px;
}
html body .conteudo .texto {
  margin-bottom: 75px;
  margin-left: 40px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 545px;
}
html body .conteudo .texto .link-quemsomos {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 12px 20px;
  line-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #036196;
  background: #98cc23;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 4px 4px 0 0px #E5E5E5;
  box-shadow: 4px 4px 0 0px #E5E5E5;
  -moz-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
html body .conteudo .texto .link-quemsomos:active,
html body .conteudo .texto .link-quemsomos:visited {
  color: #036196;
}
html body .conteudo .texto .link-quemsomos:hover {
  color: #fff;
}
html body .conteudo .texto .link-quemsomos span {
  display: block;
  -moz-transform: skewX(15deg);
  -webkit-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
}
