@import 'vars.less';
html{
	body{
		.conteudo{
			font-size: 0;
			.imagem{
				margin-bottom:75px;
				width:390px;
				.inline;
				img{
					max-width:390px;
				}
			}
			.texto{
				margin-bottom:75px;
				margin-left:40px;
				.inline;
				width:545px;
				.link-quemsomos{
					.inline;
					padding:12px 20px;
					line-height: 100%;
					.ubuntu(14px, bold);
					color:@azul;
					background:@verde;
					text-decoration: none;
					.transition;
					-webkit-box-shadow: 4px 4px 0 0px #E5E5E5;
					box-shadow: 4px 4px 0 0px #E5E5E5;
					-moz-transform: skewX(-15deg);
					-webkit-transform: skewX(-15deg);
					-o-transform: skewX(-15deg);
					-ms-transform: skewX(-15deg);
					transform: skewX(-15deg);
					&:active, &:visited{color:@azul;}
					&:hover{
						color:#fff;
					}
					span{
						display:block;
						-moz-transform: skewX(15deg);
						-webkit-transform: skewX(15deg);
						-o-transform: skewX(15deg);
						-ms-transform: skewX(15deg);
						transform: skewX(15deg);
					}
				}				
			}
		}
	}
}
