@import 'vars.less';

html{
	body{
		.conteudo{
			margin-top:-35px;
			font-size: 0;
			.centro{
				background:url('../images/layout/triangulo-solucoes.png') left top no-repeat;
			}
			aside{
				.inline;
				width:440px;
				min-height:485px;
				position:relative;
				&:before{
					content:"";
					display:block;
					position:absolute;
					top:0;
					left:0px;
					width:0;
					height:485px;
					padding-left:2000px;
					margin-left:-2000px;
					background-color: #F2F2F2;
				}
				ul{
					padding-top:35px;
					li{
						margin-bottom:3px;
						&.pull-up{
							margin-top:-25px;
						}
						a{
							&.link-exec{
								display:block;
								height:103px;
								line-height:99px;
								text-transform: uppercase;
								overflow:hidden;
								.ubuntu(20px);
								color:#969696;
								.transition;
								strong{font-weight:bold;}
								text-decoration:none;
								.imagem{
									float:left;
									margin-right:20px;					
									width:95px;
									height:95px;
									.arredondada(100%);
									.transition;
									border:4px #F2F2F2 solid;
								}
								&:active, &:visited{color:#969696;}
								&:hover, &.ativo{
									color:@azul;
									.imagem{
										border:4px @azul solid;
									}
								}
							}
							&.link-dev{
								display:block;
								height:103px;
								line-height:115%;
								text-transform: uppercase;
								overflow:hidden;
								.ubuntu(20px);
								color:#969696;
								.transition;
								strong{font-weight:bold;}
								text-decoration:none;
								span{
									display: block;
									padding-top:25px;
								}
								.imagem{
									float:left;
									margin-right:20px;					
									width:95px;
									height:95px;
									.arredondada(100%);
									.transition;
									border:4px #F2F2F2 solid;
								}
								&:active, &:visited{color:#969696;}
								&:hover, &.ativo{
									color:@azul;
									.imagem{
										border:4px @azul solid;
									}
								}	
							}
							&.link-exec-hunting,
							&.link-exec-hunting
							&.link-exec-mapeamento_de_mercado,
							&.link-exec-mapeamento-de-mercado,
							&.link-exec-assessment_center,
							&.link-exec-assessment-center,
							&.link-exec-coaching,
							&.link-exec-cursos_e_workshops,
							&.link-exec-cursos-e-workshops{
								margin-left:120px;
								padding-left:50px;
								background-position: left center;
								background-repeat: no-repeat;
								height:auto;
								min-height:40px;
								line-height:40px;
								color:#969696;
								text-decoration:none;
								display:block;
								height:100%;
								.ubuntu(16px);
								.transition;
								&:hover, &.ativo{
									color:@azul;
									font-weight:bold;
								}
							}
							&.link-exec-hunting{
								background-image:url('../images/layout/solucoes-hunting.png');
								&:hover, &.ativo{background-image:url('../images/layout/solucoes-hunting-on.png');}
							}
							&.link-exec-mapeamento-de-mercado,
							&.link-exec-mapeamento_de_mercado{
								background-image:url('../images/layout/solucoes-mapeamento.png');
								&:hover, &.ativo{background-image:url('../images/layout/solucoes-mapeamento-on.png');}
							}
							&.link-exec-assessment-center,
							&.link-exec-assessment_center{
								background-image:url('../images/layout/solucoes-assessment.png');
								&:hover, &.ativo{background-image:url('../images/layout/solucoes-assessment-on.png');}
							}
							&.link-exec-coaching{
								background-image:url('../images/layout/solucoes-coaching.png');
								&:hover, &.ativo{background-image:url('../images/layout/solucoes-coaching-on.png');}
							}
							&.link-exec-cursos-e-workshops,
							&.link-exec-cursos_e_workshops{
								background-image:url('../images/layout/solucoes-cursos.png');
								&:hover, &.ativo{background-image:url('../images/layout/solucoes-cursos-on.png');}
							}
						}
					}
				}
			}
			section{
				.inline;
				width:535px;
				padding-top:50px;
				padding-bottom:60px;
				h2{
					text-transform: uppercase;
					color:#fff;
					background:@verde;
					padding:21px 0 21px 35px;
					-moz-transform: skewX(-15deg);
					-webkit-transform: skewX(-15deg);
					-o-transform: skewX(-15deg);
					-ms-transform: skewX(-15deg);
					transform: skewX(-15deg);
					span{
						display:block;
						-moz-transform: skewX(15deg);
						-webkit-transform: skewX(15deg);
						-o-transform: skewX(15deg);
						-ms-transform: skewX(15deg);
						transform: skewX(15deg);
					}
					.ubuntu(24px, bold);
				}
				.texto{
					min-height: 250px;
					background:#fff;
					padding: 5px 30px;
					margin-left:-9px;
				}
				.cursos{
					padding-top:30px;
					.curso{
						.titulo{
							.ubuntu(14px, bold);
							color:#969696;
							border:1px @verde solid;
							margin-top:-1px;
							padding:15px 35px;
							line-height:115%;
							cursor:pointer;
							background:url('../images/layout/solucoes-mais.png') 13px 18px no-repeat;
							.transition;
							&:hover{
								color:@azul;
							}
							&.aberto{
								margin-top:15px;
								color:@azul;
								border-color:@azul;	
								border-bottom:1px @azul solid;
								background:url('../images/layout/solucoes-menos.png') 13px 18px no-repeat;
							}
						}
						.titulo.aberto + .descricao{
							height:auto;
							padding:5px 0 15px 0;
						}
						.descricao{
							.transition;
							padding:0;
							height:0;
							overflow:hidden;
						}
					}
				}
			}
		}
		.barra-servicos{display:none !important;}
	}
}
