@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .conteudo {
  margin-top: -35px;
  font-size: 0;
}
html body .conteudo .centro {
  background: url('../images/layout/triangulo-solucoes.png') left top no-repeat;
}
html body .conteudo aside {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 440px;
  min-height: 485px;
  position: relative;
}
html body .conteudo aside:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0px;
  width: 0;
  height: 485px;
  padding-left: 2000px;
  margin-left: -2000px;
  background-color: #F2F2F2;
}
html body .conteudo aside ul {
  padding-top: 35px;
}
html body .conteudo aside ul li {
  margin-bottom: 3px;
}
html body .conteudo aside ul li.pull-up {
  margin-top: -25px;
}
html body .conteudo aside ul li a.link-exec {
  display: block;
  height: 103px;
  line-height: 99px;
  text-transform: uppercase;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #969696;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none;
}
html body .conteudo aside ul li a.link-exec strong {
  font-weight: bold;
}
html body .conteudo aside ul li a.link-exec .imagem {
  float: left;
  margin-right: 20px;
  width: 95px;
  height: 95px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 4px #F2F2F2 solid;
}
html body .conteudo aside ul li a.link-exec:active,
html body .conteudo aside ul li a.link-exec:visited {
  color: #969696;
}
html body .conteudo aside ul li a.link-exec:hover,
html body .conteudo aside ul li a.link-exec.ativo {
  color: #036196;
}
html body .conteudo aside ul li a.link-exec:hover .imagem,
html body .conteudo aside ul li a.link-exec.ativo .imagem {
  border: 4px #036196 solid;
}
html body .conteudo aside ul li a.link-dev {
  display: block;
  height: 103px;
  line-height: 115%;
  text-transform: uppercase;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #969696;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none;
}
html body .conteudo aside ul li a.link-dev strong {
  font-weight: bold;
}
html body .conteudo aside ul li a.link-dev span {
  display: block;
  padding-top: 25px;
}
html body .conteudo aside ul li a.link-dev .imagem {
  float: left;
  margin-right: 20px;
  width: 95px;
  height: 95px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 4px #F2F2F2 solid;
}
html body .conteudo aside ul li a.link-dev:active,
html body .conteudo aside ul li a.link-dev:visited {
  color: #969696;
}
html body .conteudo aside ul li a.link-dev:hover,
html body .conteudo aside ul li a.link-dev.ativo {
  color: #036196;
}
html body .conteudo aside ul li a.link-dev:hover .imagem,
html body .conteudo aside ul li a.link-dev.ativo .imagem {
  border: 4px #036196 solid;
}
html body .conteudo aside ul li a.link-exec-hunting,
html body .conteudo aside ul li a.link-exec-hunting html body .conteudo aside ul li a.link-exec-mapeamento_de_mercado,
html body .conteudo aside ul li a.link-exec-mapeamento-de-mercado,
html body .conteudo aside ul li a.link-exec-assessment_center,
html body .conteudo aside ul li a.link-exec-assessment-center,
html body .conteudo aside ul li a.link-exec-coaching,
html body .conteudo aside ul li a.link-exec-cursos_e_workshops,
html body .conteudo aside ul li a.link-exec-cursos-e-workshops {
  margin-left: 120px;
  padding-left: 50px;
  background-position: left center;
  background-repeat: no-repeat;
  height: auto;
  min-height: 40px;
  line-height: 40px;
  color: #969696;
  text-decoration: none;
  display: block;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .conteudo aside ul li a.link-exec-hunting:hover,
html body .conteudo aside ul li a.link-exec-hunting html body .conteudo aside ul li a.link-exec-mapeamento_de_mercado:hover,
html body .conteudo aside ul li a.link-exec-mapeamento-de-mercado:hover,
html body .conteudo aside ul li a.link-exec-assessment_center:hover,
html body .conteudo aside ul li a.link-exec-assessment-center:hover,
html body .conteudo aside ul li a.link-exec-coaching:hover,
html body .conteudo aside ul li a.link-exec-cursos_e_workshops:hover,
html body .conteudo aside ul li a.link-exec-cursos-e-workshops:hover,
html body .conteudo aside ul li a.link-exec-hunting.ativo,
html body .conteudo aside ul li a.link-exec-hunting html body .conteudo aside ul li a.link-exec-mapeamento_de_mercado.ativo,
html body .conteudo aside ul li a.link-exec-mapeamento-de-mercado.ativo,
html body .conteudo aside ul li a.link-exec-assessment_center.ativo,
html body .conteudo aside ul li a.link-exec-assessment-center.ativo,
html body .conteudo aside ul li a.link-exec-coaching.ativo,
html body .conteudo aside ul li a.link-exec-cursos_e_workshops.ativo,
html body .conteudo aside ul li a.link-exec-cursos-e-workshops.ativo {
  color: #036196;
  font-weight: bold;
}
html body .conteudo aside ul li a.link-exec-hunting {
  background-image: url('../images/layout/solucoes-hunting.png');
}
html body .conteudo aside ul li a.link-exec-hunting:hover,
html body .conteudo aside ul li a.link-exec-hunting.ativo {
  background-image: url('../images/layout/solucoes-hunting-on.png');
}
html body .conteudo aside ul li a.link-exec-mapeamento-de-mercado,
html body .conteudo aside ul li a.link-exec-mapeamento_de_mercado {
  background-image: url('../images/layout/solucoes-mapeamento.png');
}
html body .conteudo aside ul li a.link-exec-mapeamento-de-mercado:hover,
html body .conteudo aside ul li a.link-exec-mapeamento_de_mercado:hover,
html body .conteudo aside ul li a.link-exec-mapeamento-de-mercado.ativo,
html body .conteudo aside ul li a.link-exec-mapeamento_de_mercado.ativo {
  background-image: url('../images/layout/solucoes-mapeamento-on.png');
}
html body .conteudo aside ul li a.link-exec-assessment-center,
html body .conteudo aside ul li a.link-exec-assessment_center {
  background-image: url('../images/layout/solucoes-assessment.png');
}
html body .conteudo aside ul li a.link-exec-assessment-center:hover,
html body .conteudo aside ul li a.link-exec-assessment_center:hover,
html body .conteudo aside ul li a.link-exec-assessment-center.ativo,
html body .conteudo aside ul li a.link-exec-assessment_center.ativo {
  background-image: url('../images/layout/solucoes-assessment-on.png');
}
html body .conteudo aside ul li a.link-exec-coaching {
  background-image: url('../images/layout/solucoes-coaching.png');
}
html body .conteudo aside ul li a.link-exec-coaching:hover,
html body .conteudo aside ul li a.link-exec-coaching.ativo {
  background-image: url('../images/layout/solucoes-coaching-on.png');
}
html body .conteudo aside ul li a.link-exec-cursos-e-workshops,
html body .conteudo aside ul li a.link-exec-cursos_e_workshops {
  background-image: url('../images/layout/solucoes-cursos.png');
}
html body .conteudo aside ul li a.link-exec-cursos-e-workshops:hover,
html body .conteudo aside ul li a.link-exec-cursos_e_workshops:hover,
html body .conteudo aside ul li a.link-exec-cursos-e-workshops.ativo,
html body .conteudo aside ul li a.link-exec-cursos_e_workshops.ativo {
  background-image: url('../images/layout/solucoes-cursos-on.png');
}
html body .conteudo section {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 535px;
  padding-top: 50px;
  padding-bottom: 60px;
}
html body .conteudo section h2 {
  text-transform: uppercase;
  color: #fff;
  background: #98cc23;
  padding: 21px 0 21px 35px;
  -moz-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
html body .conteudo section h2 span {
  display: block;
  -moz-transform: skewX(15deg);
  -webkit-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
}
html body .conteudo section .texto {
  min-height: 250px;
  background: #fff;
  padding: 5px 30px;
  margin-left: -9px;
}
html body .conteudo section .cursos {
  padding-top: 30px;
}
html body .conteudo section .cursos .curso .titulo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #969696;
  border: 1px #98cc23 solid;
  margin-top: -1px;
  padding: 15px 35px;
  line-height: 115%;
  cursor: pointer;
  background: url('../images/layout/solucoes-mais.png') 13px 18px no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .conteudo section .cursos .curso .titulo:hover {
  color: #036196;
}
html body .conteudo section .cursos .curso .titulo.aberto {
  margin-top: 15px;
  color: #036196;
  border-color: #036196;
  border-bottom: 1px #036196 solid;
  background: url('../images/layout/solucoes-menos.png') 13px 18px no-repeat;
}
html body .conteudo section .cursos .curso .titulo.aberto + .descricao {
  height: auto;
  padding: 5px 0 15px 0;
}
html body .conteudo section .cursos .curso .descricao {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 0;
  height: 0;
  overflow: hidden;
}
html body .barra-servicos {
  display: none !important;
}
