@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.main #slides-home {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.main #slides-home #slides {
  width: 100%;
  max-width: 100%;
}
.main #slides-home #slides .slide {
  height: 410px;
  width: 100%;
  max-width: 100%;
}
.main #slides-home #slides .slide a {
  width: 100%;
  max-width: 100%;
  height: 410px;
  overflow: hidden;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main #slides-home #slides .slide a img {
  display: none;
}
.main #slides-home #slides-nav {
  position: absolute;
  bottom: 60px;
  left: 55%;
  z-index: 9999;
}
.main #slides-home #slides-nav a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 0 5px;
  height: 8px;
  width: 55px;
  background-color: #0596d5;
  -moz-transform: skewX(-15deg) skewY(0deg);
  -webkit-transform: skewX(-15deg) skewY(0deg);
  -o-transform: skewX(-15deg) skewY(0deg);
  -ms-transform: skewX(-15deg) skewY(0deg);
  transform: skewX(-15deg) skewY(0deg);
  -webkit-box-shadow: 3px 3px 3px 0 #036196;
  box-shadow: 3px 3px 3px 0 #036196;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main #slides-home #slides-nav a:hover,
.main #slides-home #slides-nav a.activeSlide {
  background-color: #98cc23;
}
