@import './vars.less';

.main{
	#slides-home{
		width:100%;
		max-width:100%;
		position:relative;
		#slides{
			width:100%;
			max-width:100%;
			.slide{
				height:410px;
				width:100%;
				max-width:100%;
				a{
					width:100%;
					max-width:100%;
					height:410px;
					overflow:hidden;
					display:block;
					position:relative;
					background-size: cover;
					background-position: center top;
					background-repeat: no-repeat;
					.transition;
					img{display:none;}
				}
			}
		}
		#slides-nav{
			position:absolute;
			bottom:60px;
			left:55%;
			z-index:9999;
			a{
				.inline;
				margin:0 5px;
				height:8px;
				width:55px;
				background-color:@azul_claro;
				-moz-transform: skewX(-15deg) skewY(0deg);
				-webkit-transform: skewX(-15deg) skewY(0deg);
				-o-transform: skewX(-15deg) skewY(0deg);
				-ms-transform: skewX(-15deg) skewY(0deg);
				transform: skewX(-15deg) skewY(0deg);
				-webkit-box-shadow: 3px 3px 3px 0 #036196;
				box-shadow: 3px 3px 3px 0 #036196;
				.transition;
				&:hover, &.activeSlide{
					background-color:@verde;
				}
			}
		}
	}
}