@import 'vars.less';

html{
	.barra-servicos{display:none !important;}
	body .main{
		font-size:0;
		.oportunidade{
			.inline;
			text-decoration:none;
			width:468px;
			border:1px #D2D2D2 solid;
			.transition;
			padding:5px;
			margin:0 20px 20px 0;
			&:nth-child(even){
				margin-right:0;
			}
			.ofertante{
				.transition;
				.ubuntu(14px, bold);
				padding:15px 12px;
				line-height:120%;
				color:#fff;
				background:@verde;
				text-transform: uppercase;
			}
			.olho{
				padding:15px 12px 10px 12px;
				.titulo{
					.ubuntu(14px, bold);
					color:#787878;
					line-height:115%;
					margin-bottom:5px;
				}
				.detalhes{
					line-height:115%;
					margin-bottom:15px;
					.ubuntu(13px);
					.posicao{
						color:@azul;
					}
					.local{
						color:#787878;
						&:before{
							content:"•";
							color:#787878;
							margin:0 5px;
						}
					}
				}
				.data{
					.ubuntu(12px);
					color:@verde;
				}
			}
			&:hover{
				border-color: @azul;
				.ofertante{background:@azul;}
			}
		}
		.separador{
			height:1px;
			background:#E0E0E0;
			margin-top:20px;
		}
		ul.pagination{
			margin:-1px auto 70px auto;
			text-align:center;
			li{
				padding-top:15px;
				border-top:1px @azul solid;
				.inline;
				.ubuntu(14px);
				&.disabled{
					padding-left:6px;
					padding-right:6px;
					span{color:#ACACAC;}
				}
				&.active{
					padding-left:6px;
					padding-right:6px;
					span{
						font-weight: bold;
						color:@azul;
					}
				}
				a{
					padding-left:6px;
					padding-right:6px;
					display:block;
					color:#ACACAC;
					text-decoration:none;
					.transition;
					&:active, &:visited{color:#ACACAC;}
					&:hover{
						font-weight: bold;
						color:@azul;
					}
				}
			}
		}
		.detalhes{
			font-size: 0;
			section{
				width:570px;
				.inline;
				.ofertante{
					background:@verde;
					color:#fff;
					.ubuntu(17px, bold);
					padding:20px;
					line-height: 115%;
				}
				.olho{
					padding:25px 20px;
					line-height:100%;
					margin-bottom:15px;
					border-bottom:1px #D2D2D2 solid;
					.ubuntu(13px);
					.titulo{
						.ubuntu(16px, bold);
						color:#787878;
					}
					.posicao{
						color:@azul;
						&:before{
							content:"•";
							color:#787878;
							margin:0 5px;
						}
					}
					.local{
						color:#787878;
						&:before{
							content:"•";
							color:#787878;
							margin:0 5px;
						}
					}
					.data{
						.ubuntu(12px);
						color:@verde;
						float:right;
					}
				}
				.texto{

				}
			}
			aside{
				width:340px;
				margin-left:70px;
				.inline;
				h2{
					.ubuntu(22px, bold);
					color:@azul;
					line-height: 100%;
					margin-bottom:15px;
					border-bottom:1px #E0E0E0 solid;
					padding-bottom:15px;						
					span{
						padding-bottom:14px;
						border-bottom:1px @azul solid;
					}
				}
				.enviado{
					background:url('../images/layout/icone-curriculo-enviado.png') @verde 25px center no-repeat;
					color:#fff;
					.ubuntu(16px, bold);
					padding:25px 10px 25px 70px;
					line-height: 120%;
				}
				form{
					input[type="text"],
					input[type="email"]{
						display:block;
						padding:15px 10px;
						line-height: 110%;
						border:1px #D2D2D2 solid;
						background:#fff;
						margin:0 0 10px 0;
						color:#424242;
						width:317px;
						.ubuntu(14px);
						.placeholder(#D2D2D2);
					}
					label{
						display:block;
						min-height:31px;
						padding:5px 5px 5px 10px;
						line-height: 110%;
						border:1px #D2D2D2 solid;
						background:#fff;
						margin:0 0 10px 0;
						color:#D2D2D2;
						width:322px;
						position:relative;
						cursor: pointer;
						.ubuntu(14px);
						span{
							padding-top:10px;
							display: block;
							max-width: 172px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							&.negrito{
								color:#424242;
							}
						}
						input[type="file"]{
							opacity:0;
							top:0;
							left:0;
							position: absolute;
							z-index:0;
						}
						.fakebutton{
							position:relative;
							z-index:999;
							float:right;
							background:@azul;
							color:#fff;
							.ubuntu(14px);
							padding:8px 12px;
							.transition;
						}
						&:hover .fakebutton{
							color:@verde;
						}
					}
					textarea{
						resize:none;
						overflow:auto;
						padding:15px 10px;
						line-height: 110%;
						border:1px #D2D2D2 solid;
						background:#fff;
						margin:0 0 10px 0;
						color:#424242;
						width:317px;
						height:90px;
						.ubuntu(14px);
						.placeholder(#D2D2D2);
					}
					.enviar{
						height:38px;
						text-align:right;
						button{
							border:0;
							margin-right:5px;
							.inline;
							padding:9px 20px;
							line-height: 100%;
							.ubuntu(14px, bold);
							color:#fff;
							background:@verde;
							text-decoration: none;
							.transition;
							-webkit-box-shadow: 4px 4px 0 0px #E5E5E5;
							box-shadow: 4px 4px 0 0px #E5E5E5;
							-moz-transform: skewX(-15deg);
							-webkit-transform: skewX(-15deg);
							-o-transform: skewX(-15deg);
							-ms-transform: skewX(-15deg);
							transform: skewX(-15deg);
							cursor:pointer;
							&:active, &:visited{color:@azul;}
							&:hover{
								color:@azul;
							}
							span{
								display:block;
								-moz-transform: skewX(15deg);
								-webkit-transform: skewX(15deg);
								-o-transform: skewX(15deg);
								-ms-transform: skewX(15deg);
								transform: skewX(15deg);
							}
						}
					}
				}
			}
			.voltar{
				margin:55px 0 70px 0;
				border-top:1px #E0E0E0 solid;
				padding-top:17px;
				a{
					color:#B8B8B8;
					text-decoration:none;
					.ubuntu(14px);
					.transition;
					&:active, &:visited{color:#B8B8B8;}
					&:hover{color:@azul;}
				}
			}
		}
	}
}
