@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html .barra-servicos {
  display: none !important;
}
html body .main {
  font-size: 0;
}
html body .main .oportunidade {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  text-decoration: none;
  width: 468px;
  border: 1px #D2D2D2 solid;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 5px;
  margin: 0 20px 20px 0;
}
html body .main .oportunidade:nth-child(even) {
  margin-right: 0;
}
html body .main .oportunidade .ofertante {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 12px;
  line-height: 120%;
  color: #fff;
  background: #98cc23;
  text-transform: uppercase;
}
html body .main .oportunidade .olho {
  padding: 15px 12px 10px 12px;
}
html body .main .oportunidade .olho .titulo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #787878;
  line-height: 115%;
  margin-bottom: 5px;
}
html body .main .oportunidade .olho .detalhes {
  line-height: 115%;
  margin-bottom: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
html body .main .oportunidade .olho .detalhes .posicao {
  color: #036196;
}
html body .main .oportunidade .olho .detalhes .local {
  color: #787878;
}
html body .main .oportunidade .olho .detalhes .local:before {
  content: "•";
  color: #787878;
  margin: 0 5px;
}
html body .main .oportunidade .olho .data {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #98cc23;
}
html body .main .oportunidade:hover {
  border-color: #036196;
}
html body .main .oportunidade:hover .ofertante {
  background: #036196;
}
html body .main .separador {
  height: 1px;
  background: #E0E0E0;
  margin-top: 20px;
}
html body .main ul.pagination {
  margin: -1px auto 70px auto;
  text-align: center;
}
html body .main ul.pagination li {
  padding-top: 15px;
  border-top: 1px #036196 solid;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main ul.pagination li.disabled {
  padding-left: 6px;
  padding-right: 6px;
}
html body .main ul.pagination li.disabled span {
  color: #ACACAC;
}
html body .main ul.pagination li.active {
  padding-left: 6px;
  padding-right: 6px;
}
html body .main ul.pagination li.active span {
  font-weight: bold;
  color: #036196;
}
html body .main ul.pagination li a {
  padding-left: 6px;
  padding-right: 6px;
  display: block;
  color: #ACACAC;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main ul.pagination li a:active,
html body .main ul.pagination li a:visited {
  color: #ACACAC;
}
html body .main ul.pagination li a:hover {
  font-weight: bold;
  color: #036196;
}
html body .main .detalhes {
  font-size: 0;
}
html body .main .detalhes section {
  width: 570px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .detalhes section .ofertante {
  background: #98cc23;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 20px;
  line-height: 115%;
}
html body .main .detalhes section .olho {
  padding: 25px 20px;
  line-height: 100%;
  margin-bottom: 15px;
  border-bottom: 1px #D2D2D2 solid;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
html body .main .detalhes section .olho .titulo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #787878;
}
html body .main .detalhes section .olho .posicao {
  color: #036196;
}
html body .main .detalhes section .olho .posicao:before {
  content: "•";
  color: #787878;
  margin: 0 5px;
}
html body .main .detalhes section .olho .local {
  color: #787878;
}
html body .main .detalhes section .olho .local:before {
  content: "•";
  color: #787878;
  margin: 0 5px;
}
html body .main .detalhes section .olho .data {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #98cc23;
  float: right;
}
html body .main .detalhes aside {
  width: 340px;
  margin-left: 70px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .detalhes aside h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #036196;
  line-height: 100%;
  margin-bottom: 15px;
  border-bottom: 1px #E0E0E0 solid;
  padding-bottom: 15px;
}
html body .main .detalhes aside h2 span {
  padding-bottom: 14px;
  border-bottom: 1px #036196 solid;
}
html body .main .detalhes aside .enviado {
  background: url('../images/layout/icone-curriculo-enviado.png') #98cc23 25px center no-repeat;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 25px 10px 25px 70px;
  line-height: 120%;
}
html body .main .detalhes aside form input[type="text"],
html body .main .detalhes aside form input[type="email"] {
  display: block;
  padding: 15px 10px;
  line-height: 110%;
  border: 1px #D2D2D2 solid;
  background: #fff;
  margin: 0 0 10px 0;
  color: #424242;
  width: 317px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main .detalhes aside form input[type="text"]::-webkit-input-placeholder,
html body .main .detalhes aside form input[type="email"]::-webkit-input-placeholder {
  color: #d2d2d2;
}
html body .main .detalhes aside form input[type="text"]:-moz-placeholder,
html body .main .detalhes aside form input[type="email"]:-moz-placeholder {
  color: #d2d2d2;
}
html body .main .detalhes aside form input[type="text"]::-moz-placeholder,
html body .main .detalhes aside form input[type="email"]::-moz-placeholder {
  color: #d2d2d2;
}
html body .main .detalhes aside form input[type="text"]:-ms-input-placeholder,
html body .main .detalhes aside form input[type="email"]:-ms-input-placeholder {
  color: #d2d2d2;
}
html body .main .detalhes aside form label {
  display: block;
  min-height: 31px;
  padding: 5px 5px 5px 10px;
  line-height: 110%;
  border: 1px #D2D2D2 solid;
  background: #fff;
  margin: 0 0 10px 0;
  color: #D2D2D2;
  width: 322px;
  position: relative;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main .detalhes aside form label span {
  padding-top: 10px;
  display: block;
  max-width: 172px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
html body .main .detalhes aside form label span.negrito {
  color: #424242;
}
html body .main .detalhes aside form label input[type="file"] {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}
html body .main .detalhes aside form label .fakebutton {
  position: relative;
  z-index: 999;
  float: right;
  background: #036196;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 8px 12px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .detalhes aside form label:hover .fakebutton {
  color: #98cc23;
}
html body .main .detalhes aside form textarea {
  resize: none;
  overflow: auto;
  padding: 15px 10px;
  line-height: 110%;
  border: 1px #D2D2D2 solid;
  background: #fff;
  margin: 0 0 10px 0;
  color: #424242;
  width: 317px;
  height: 90px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html body .main .detalhes aside form textarea::-webkit-input-placeholder {
  color: #d2d2d2;
}
html body .main .detalhes aside form textarea:-moz-placeholder {
  color: #d2d2d2;
}
html body .main .detalhes aside form textarea::-moz-placeholder {
  color: #d2d2d2;
}
html body .main .detalhes aside form textarea:-ms-input-placeholder {
  color: #d2d2d2;
}
html body .main .detalhes aside form .enviar {
  height: 38px;
  text-align: right;
}
html body .main .detalhes aside form .enviar button {
  border: 0;
  margin-right: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 9px 20px;
  line-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #98cc23;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 4px 4px 0 0px #E5E5E5;
  box-shadow: 4px 4px 0 0px #E5E5E5;
  -moz-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  cursor: pointer;
}
html body .main .detalhes aside form .enviar button:active,
html body .main .detalhes aside form .enviar button:visited {
  color: #036196;
}
html body .main .detalhes aside form .enviar button:hover {
  color: #036196;
}
html body .main .detalhes aside form .enviar button span {
  display: block;
  -moz-transform: skewX(15deg);
  -webkit-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
}
html body .main .detalhes .voltar {
  margin: 55px 0 70px 0;
  border-top: 1px #E0E0E0 solid;
  padding-top: 17px;
}
html body .main .detalhes .voltar a {
  color: #B8B8B8;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .detalhes .voltar a:active,
html body .main .detalhes .voltar a:visited {
  color: #B8B8B8;
}
html body .main .detalhes .voltar a:hover {
  color: #036196;
}
