@import 'vars.less';

html{
	body{
		.main{
			.conteudo{
				.texto{
					width:575px;
					font-size:0;
					.inline;
					.link-diferenciais{
						.inline;
						padding:12px 20px;
						line-height: 100%;
						.ubuntu(14px, bold);
						color:@azul;
						background:@verde;
						text-decoration: none;
						.transition;
						-webkit-box-shadow: 4px 4px 0 0px #E5E5E5;
						box-shadow: 4px 4px 0 0px #E5E5E5;
						-moz-transform: skewX(-15deg);
						-webkit-transform: skewX(-15deg);
						-o-transform: skewX(-15deg);
						-ms-transform: skewX(-15deg);
						transform: skewX(-15deg);
						&:active, &:visited{color:@azul;}
						&:hover{
							color:#fff;
						}
						span{
							display:block;
							-moz-transform: skewX(15deg);
							-webkit-transform: skewX(15deg);
							-o-transform: skewX(15deg);
							-ms-transform: skewX(15deg);
							transform: skewX(15deg);
						}
					}
				}
				.imagem{
					margin-left:30px;
					width:370px;
					.inline;
					img{}
				}
			}
			#equipe{
				margin-top:50px;
				border-top:160px @azul solid;
				font-size: 0;
				.membro{
					width:445px;
					margin-top:-135px;
					margin-bottom:50px;
					&:first-child{margin-right:75px;}
					&:last-child{
						.titulo{
							padding-top:30px;
						}
					}
					.inline;
					.imagem{
						width:197px;
						margin-right:20px;
						.inline;
						img{
							max-width: 100%;
							max-height: 226px;
						}
					}
					.titulo{
						width:224px;
						padding-top:60px;
						.inline;						
						h2{
							width:189px;
							color:#fff;
							line-height:115%;
							margin-bottom:45px;
							.ubuntu(26px, bold);
						}
						.divisao{
							.imagem{
								float:left;
								margin-right:12px;
								width:50px;
								height:50px;
								img{
									max-width:50px;
									max-height:50px;
								}
							}
							p{
								padding-top:6px;
								.ubuntu(12px);
								color: #838383;
							}
							h3{
								margin-top:3px;
								text-transform: uppercase;
								color:@azul;
								.ubuntu(17px);
								strong{font-weight: bold;}
							}
						}
					}
					.texto{

					}
				}
			}
		}		
	}
}
