@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .main .conteudo .texto {
  width: 575px;
  font-size: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .conteudo .texto .link-diferenciais {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 12px 20px;
  line-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #036196;
  background: #98cc23;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 4px 4px 0 0px #E5E5E5;
  box-shadow: 4px 4px 0 0px #E5E5E5;
  -moz-transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
html body .main .conteudo .texto .link-diferenciais:active,
html body .main .conteudo .texto .link-diferenciais:visited {
  color: #036196;
}
html body .main .conteudo .texto .link-diferenciais:hover {
  color: #fff;
}
html body .main .conteudo .texto .link-diferenciais span {
  display: block;
  -moz-transform: skewX(15deg);
  -webkit-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
}
html body .main .conteudo .imagem {
  margin-left: 30px;
  width: 370px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main #equipe {
  margin-top: 50px;
  border-top: 160px #036196 solid;
  font-size: 0;
}
html body .main #equipe .membro {
  width: 445px;
  margin-top: -135px;
  margin-bottom: 50px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main #equipe .membro:first-child {
  margin-right: 75px;
}
html body .main #equipe .membro:last-child .titulo {
  padding-top: 30px;
}
html body .main #equipe .membro .imagem {
  width: 197px;
  margin-right: 20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main #equipe .membro .imagem img {
  max-width: 100%;
  max-height: 226px;
}
html body .main #equipe .membro .titulo {
  width: 224px;
  padding-top: 60px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main #equipe .membro .titulo h2 {
  width: 189px;
  color: #fff;
  line-height: 115%;
  margin-bottom: 45px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 26px;
  font-weight: bold;
}
html body .main #equipe .membro .titulo .divisao .imagem {
  float: left;
  margin-right: 12px;
  width: 50px;
  height: 50px;
}
html body .main #equipe .membro .titulo .divisao .imagem img {
  max-width: 50px;
  max-height: 50px;
}
html body .main #equipe .membro .titulo .divisao p {
  padding-top: 6px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #838383;
}
html body .main #equipe .membro .titulo .divisao h3 {
  margin-top: 3px;
  text-transform: uppercase;
  color: #036196;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  font-weight: normal;
}
html body .main #equipe .membro .titulo .divisao h3 strong {
  font-weight: bold;
}
