/* Clearlooks 2 */

/* Reset */
.classicblue, .classicblue div, .classicblue span, .classicblue a {vertical-align:baseline; text-align:left; position:absolute; border:0; padding:0; margin:0; background:transparent; font-family:Arial,Verdana; font-size:11px; color:#000; text-decoration:none; font-weight:normal; width:auto; height:auto; overflow:hidden; display:block}

/* General */
.classicblue {position:absolute; direction:ltr}
.classicblue .mceWrapper {position:static}
.mceEventBlocker {position:fixed; left:0; top:0; background:url(../img/horizontal.gif) no-repeat 0 -75px; width:100%; height:100%}
.classicblue .mcePlaceHolder {border:1px solid #000; background:#888; top:0; left:0; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50)}
.classicblue_modalBlocker {position:fixed; left:0; top:0; width:100%; height:100%; background:#FFF; opacity:0.6; -ms-filter:'alpha(opacity=60)'; filter:alpha(opacity=60); display:none}

/* Top */
.classicblue .mceTop, .classicblue .mceTop div {top:0; width:100%; height:23px}
.classicblue .mceTop .mceLeft {width:6px; background:url(../img/corners.gif)}
.classicblue .mceTop .mceCenter {right:6px; width:100%; height:23px; background:url(../img/horizontal.gif) 12px 0; clip:rect(auto auto auto 12px)}
.classicblue .mceTop .mceRight {right:0; width:6px; height:23px; background:url(../img/corners.gif) -12px 0}
.classicblue .mceTop span {width:100%; text-align:center; vertical-align:middle; line-height:23px; font-weight:bold}
.classicblue .mceFocus .mceTop .mceLeft {background:url(../img/corners.gif) -6px 0}
.classicblue .mceFocus .mceTop .mceCenter {background:url(../img/horizontal.gif) 0 -23px}
.classicblue .mceFocus .mceTop .mceRight {background:url(../img/corners.gif) -18px 0}
.classicblue .mceFocus .mceTop span {color:#FFF}

/* Middle */
.classicblue .mceMiddle, .classicblue .mceMiddle div {top:0}
.classicblue .mceMiddle {width:100%; height:100%; clip:rect(23px auto auto auto)}
.classicblue .mceMiddle .mceLeft {left:0; width:5px; height:100%; background:url(../img/vertical.gif) -5px 0}
.classicblue .mceMiddle span {top:23px; left:5px; width:100%; height:100%; background:#FFF}
.classicblue .mceMiddle .mceRight {right:0; width:5px; height:100%; background:url(../img/vertical.gif)}

/* Bottom */
.classicblue .mceBottom, .classicblue .mceBottom div {height:6px}
.classicblue .mceBottom {left:0; bottom:0; width:100%}
.classicblue .mceBottom div {top:0}
.classicblue .mceBottom .mceLeft {left:0; width:5px; background:url(../img/corners.gif) -34px -6px}
.classicblue .mceBottom .mceCenter {left:5px; width:100%; background:url(../img/horizontal.gif) 0 -46px}
.classicblue .mceBottom .mceRight {right:0; width:5px; background: url(../img/corners.gif) -34px 0}
.classicblue .mceBottom span {display:none}
.classicblue .mceStatusbar .mceBottom, .classicblue .mceStatusbar .mceBottom div {height:23px}
.classicblue .mceStatusbar .mceBottom .mceLeft {background:url(../img/corners.gif) -29px 0}
.classicblue .mceStatusbar .mceBottom .mceCenter {background:url(../img/horizontal.gif) 0 -52px}
.classicblue .mceStatusbar .mceBottom .mceRight {background:url(../img/corners.gif) -24px 0}
.classicblue .mceStatusbar .mceBottom span {display:block; left:7px; font-family:Arial, Verdana; font-size:11px; line-height:23px}

/* Actions */
.classicblue a {width:13px; height:13px; top:5px;}
.classicblue .mceClose {right:9px; background:url(../img/buttons.gif) -52px 0}
.classicblue .mceMin {display:none; right:68px; background:url(../img/buttons.gif) 0 0}
.classicblue .mceMed {display:none; right:37px; background:url(../img/buttons.gif) -26px 0}
.classicblue .mceMax {display:none; right:37px; background:url(../img/buttons.gif) -39px 0}
.classicblue .mceMove {display:none;width:100%;cursor:move;background:url(../img/corners.gif) no-repeat -100px -100px}
.classicblue .mceMovable .mceMove {display:block}
.classicblue .mceFocus .mceClose {right:6px; background:url(../img/buttons.gif) -52px -13px}
.classicblue .mceFocus .mceMin {right:68px; background:url(../img/buttons.gif) 0 -13px}
.classicblue .mceFocus .mceMed {right:37px; background:url(../img/buttons.gif) -26px -13px}
.classicblue .mceFocus .mceMax {right:37px; background:url(../img/buttons.gif) -39px -13px}
.classicblue .mceFocus .mceClose:hover {right:6px; background:url(../img/buttons.gif) -52px -26px}
.classicblue .mceFocus .mceClose:hover {right:6px; background:url(../img/buttons.gif) -52px -26px}
.classicblue .mceFocus .mceMin:hover {right:68px; background:url(../img/buttons.gif) 0 -32px}
.classicblue .mceFocus .mceMed:hover {right:37px; background:url(../img/buttons.gif) -26px -26px}
.classicblue .mceFocus .mceMax:hover {right:37px; background:url(../img/buttons.gif) -39px -26px}

/* Resize */
.classicblue .mceResize {top:auto; left:auto; display:none; width:5px; height:5px; background:url(../img/horizontal.gif) no-repeat 0 -75px}
.classicblue .mceResizable .mceResize {display:block}
.classicblue .mceResizable .mceMin, .classicblue .mceMax {display:none}
.classicblue .mceMinimizable .mceMin {display:block}
.classicblue .mceMaximizable .mceMax {display:block}
.classicblue .mceMaximized .mceMed {display:block}
.classicblue .mceMaximized .mceMax {display:none}
.classicblue a.mceResizeN {top:0; left:0; width:100%; cursor:n-resize}
.classicblue a.mceResizeNW {top:0; left:0; cursor:nw-resize}
.classicblue a.mceResizeNE {top:0; right:0; cursor:ne-resize}
.classicblue a.mceResizeW {top:0; left:0; height:100%; cursor:w-resize;}
.classicblue a.mceResizeE {top:0; right:0; height:100%; cursor:e-resize}
.classicblue a.mceResizeS {bottom:0; left:0; width:100%; cursor:s-resize}
.classicblue a.mceResizeSW {bottom:0; left:0; cursor:sw-resize}
.classicblue a.mceResizeSE {bottom:0; right:0; cursor:se-resize}

/* Alert/Confirm */
.classicblue .mceButton {font-weight:bold; bottom:10px; width:80px; height:30px; border:0px; background:url(../img/button.gif) no-repeat scroll 50%; line-height:30px; vertical-align:middle; text-align:center; outline:0}
.classicblue .mceMiddle .mceIcon {left:15px; top:35px; width:32px; height:32px}
.classicblue .mceAlert .mceMiddle span, .classicblue .mceConfirm .mceMiddle span {background:transparent;left:60px; top:35px; width:70%; height: 50%; font-weight:bold; overflow:hidden; white-space: normal;}
.classicblue a:hover {font-weight:bold;}
.classicblue .mceAlert .mceMiddle, .classicblue .mceConfirm .mceMiddle {background:#ffffff}
.classicblue .mceAlert .mceOk {left:50%; top:auto; margin-left: -40px}
.classicblue .mceAlert .mceIcon {background:url(../img/alert.png)}
.classicblue .mceConfirm .mceOk {left:50%; top:auto; margin-left: -90px}
.classicblue .mceConfirm .mceCancel {left:50%; top:auto}
.classicblue .mceConfirm .mceIcon {background:url(../img/confirm.png)}

.classicblue .mceAlert .mceMiddle span div, .classicblue .mceConfirm .mceMiddle span div {font-size: 1.1em;width:100%;}

.classicblue .mcePrompt .mceMiddle, .classicblue .mceDialog .mceMiddle {background:#fff}
.classicblue .mcePrompt .mceOk {left:50%; top:auto; margin-left: -90px}
.classicblue .mcePrompt .mceCancel {left:50%; top:auto}
.classicblue .mceDialog .mceOk {left:50%; top:auto; margin-left: -90px}
.classicblue .mceDialog .mceCancel {left:50%; top:auto}

.classicblue .mcePrompt .mceMiddle span, .classicblue .mceDialog .mceMiddle span {background:transparent;left:10px;top:28px; overflow:auto; white-space:normal}
.classicblue .mcePrompt .mceMiddle span div, .classicblue .mceDialog .mceMiddle span div {position: relative}

.classicblue .mceDialog .mceMiddle .mceContentBody, .classicblue .mcePrompt .mceMiddle .mceContentBody {margin:5px 10px;}