/* begin Page */

/* Generated with Artisteer version 2.3.0.21098, file checksum is 691E7D9D. */

img
{
	filter:expression(fixPNG(this));
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet, .art-Sheet-body
{
	zoom:1;
}

.art-Sheet-body
{
	position:static;
}
.art-Sheet-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Sheet-c.png',sizingMethod='scale')");
}
#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	width:expression(document.body.clientWidth > 900 ? "100%" : "900px");
}
/* end Box, Sheet */

/* begin Menu */

.art-menu ul
{
	height: 1%;
	width:1px;
}

.art-menu, .art-menu ul
{
	height: 1%;
}

.art-menu li.art-menuhover
{
	z-index: 10000;
}

.art-menu .art-menuhoverUL
{
	visibility: visible;
}

.art-menu .art-menuhoverUL
{
	top: 100%;
	left: 0;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
	top: 0;
	left: 100%;
}

.art-menu ul a
{
	height: 1%;
}

.art-menu li li
{
	float: left;
	width: 100%;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
	top: 5px;
	left: 100%;
}

.art-menu, .art-menu ul
{
	height: 1%;
}

.art-menu li.art-menuhover
{
	z-index: 10000;
}

.art-menu .art-menuhoverUL
{
	visibility: visible;
}

.art-menu .art-menuhoverUL
{
	top: 100%;
	left: 0;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
	top: 0;
	left: 100%;
}

.art-menu ul a
{
	height: 1%;
}

.art-menu li li
{
	float: left;
	width: 100%;
}

.art-nav
{
	zoom: 1;
}

.art-nav .l, .art-nav .r
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/nav.png',sizingMethod='crop')");
}

.art-nav .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');
}

.art-nav .r
{
	left: expression(this.parentNode.offsetWidth-900+'px');
	clip: rect(auto auto auto 900px);
}

/* end Menu */

/* begin MenuItem */
.art-menu a
{
	float:left;
}

.art-menu a:hover
{
	visibility:visible;
}

.art-menu a .r, .art-menu a .l
{
	font-size:1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/MenuItem.png',sizingMethod='crop')");
}

.art-menu a .r
{
	left: expression(this.parentNode.offsetWidth-400+'px');
	clip: rect(auto auto auto 400px);
}

.art-menu a .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');
}

.art-menuhover .art-menuhoverA .t
{
	color: #FFFFFF;
}

.art-menuhover .art-menuhoverA .l, .art-menuhover .art-menuhoverA .r
{
	top: -37px;
}
/* end MenuItem */

/* begin MenuSubItem */

.art-menu ul a
{
	color: #FFFFFF !important;
}

.art-menu ul a:hover {
	color: #000000 !important;
}	

.art-menu ul .art-menuhover .art-menuhoverA
{
	color: #000000 !important;
	background-position: 0 -20px;
}

.art-nav .art-menu ul a:hover span, .art-nav .art-menu ul a:hover span span
{
	color: #000000 !important;
}	

.art-nav .art-menu ul .art-menuhover .art-menuhoverA span, .art-nav .art-menu ul .art-menuhover .art-menuhoverA span span
{
	color: #000000 !important;
}

/* end MenuSubItem */

/* begin Box, Block */
.art-Block, .art-Block-body
{
	zoom:1;
}

.art-Block-body
{
	position:static;
}
/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader, .art-BlockHeader
{
	font-size: 1px;
}
.art-BlockHeader .l, .art-BlockHeader .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockHeader.png',sizingMethod='crop')");
}

.art-BlockHeader .r
{
	left: expression(this.parentNode.offsetWidth-900+'px');
	clip: rect(auto auto auto 900px);
}

.art-BlockHeader .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');
}

.art-header-tag-icon
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent, .art-BlockContent-body
{
	zoom:1;
}

.art-BlockContent-body
{
	position:static;
}

.art-BlockContent-body ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-Post, .art-Post-body
{
	zoom:1;
}

.art-Post-body
{
	position:static;
}
/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */
.art-Post ul li, .art-Post ol ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/PostBullets.png',sizingMethod='crop')");
}

.art-Post ul ol li
{
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote,
.art-PostContent blockquote
{
	height:1%;
	background-image: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/PostQuote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Button */
.art-button-wrapper, .art-button-wrapper .l, .art-button-wrapper .r
{
	font-size: 1px;
}

.art-button-wrapper .art-button
{
	float:left;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Button.png',sizingMethod='crop')");
}

.art-button-wrapper .r
{
	left: expression(this.parentNode.offsetWidth-409+'px');
	clip: rect(auto auto auto 405px);
}

.art-button-wrapper .l
{
	width: expression(this.parentNode.offsetWidth-4+'px');
}

/* end Button */

/* begin Footer */
.art-Footer .art-Footer-background
{
	top: expression(this.parentNode.offsetHeight-150+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/Footer.png',sizingMethod='crop')");
	zoom: 1;
	font-size:1px;
}

.art-rss-tag-icon
{
	zoom:1;
	font-size:1px;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"../images/livemarks.png',sizingMethod='crop')");
}

/* end Footer */



form#form-login ul li
{ 
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
